html
{
	max-height:100%;
}
.INWdth 
{
	WIDTH: 450px;
}
.INWdth2 
{
	WIDTH: 300px;
}
#txtSummary 
{
	HEIGHT: 65px;
/*	border:none;
	background-color:#F9F9F9; */
	overflow:auto; 
}
#txtSummary.ViewOnly
{
	border:none;
}
#divPhases
{
	/*position:absolute;
	top:35px;
	left:10px;
	bottom:0px;
	border:solid 1px #676767;
	background-color:lemonchiffon;
	width:180px;
	padding:0px;
	height:expression("100%");*/
	   
   position: absolute;
   left:8px;
   right:15px;
   top:55px;
   top:expression("0px");
   margin-top:expression("55px");
   bottom:5px;
   width: 160px;
   height:expression(document.body.clientHeight - 55);
   background-color:white;
	background-image:url(../../images/contentgrad.jpg);
   border:solid 1px gainsboro;
}
#divPhaseInfo
{	
	padding:4px;
	color:#4F72A6;
	height:100px;
}
#divContent
{
	/*margin-top:7px;
	margin-left:185px;
	position: absolute;
   left: 190px;
   right: 0px;
   top:35px;
   top:expression("0px");
   bottom:0px;
   margin-top:expression("35px");
   width: expression(document.body.clientWidth - 200);
   height:expression(document.body.clientHeight - 35);
   background-color:pink;*/
}
#divMainTitle
{
	position: absolute;
   left: 175px;
   left:expression("170px");
   right: 5px;
   top:55px;
   top:expression("0px");
   margin-top:expression("55px");
   width: expression(document.body.clientWidth - 180);
   border:solid 1px gainsboro;
}
.divPhase
{
	/*height:100%;
	border:solid 1px #676767;
	padding:5px;
	padding-left:10px;
	overflow:auto;*/
	
	position: absolute;
   left: 175px;
   left:expression("170px");
   right: 5px;
   top:84px;
   top:expression("0px");
   bottom:5px;
   margin-top:expression("84px");
   width: expression(document.body.clientWidth - 180);
   height:expression(document.body.clientHeight - 84);
   padding:5px;
	border:solid 1px gainsboro;
	overflow:auto;
}
a:visited.Phase, a:active.Phase, a:link.Phase, a.Phase
{
	display:block;
	width:auto;
	width:expression("100%"); /*for IE: to fill the width of the containing div*/
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	border:none;
	border-bottom:solid 1px gainsboro;
	/*background-image: url(../Panel/Panelimages/iKB_PnlBG1.gif);*/
	background-color:#BFD8FE;
	background-color:whitesmoke;
	color:black;
	text-decoration:none;
	background-image:url(../../images/bgsil30.jpg);
}
a:hover.Phase
{
	color:#FDC689;
	color:blue;
	text-decoration:underline;
}
a:visited.CurPhase, a:hover.CurPhase,  a:active.CurPhase, a:link.CurPhase, a.CurPhase
{
	display:block;
	width:auto;
	width:expression("100%"); /*for IE: to fill the width of the containing div*/
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	border:none;
	border-bottom:solid 1px gainsboro;
	/*background-image: url(../Panel/Panelimages/iKB_PnlBG1.gif);
	background-image: url(../images/yllwarrw.gif);
	background-repeat:no-repeat;
	background-position: 8px 50%;*/
	background-color:orange;
	background-image:url(../../images/bgblue30.jpg);
	color:#F18800;
	color:#4F72A6;
	text-decoration:none;
}
DIV.MainTitle, .MainTitle
{
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	padding:5px;
	padding-left:8px;
}
.MainTitle
{
	color:#676767;
}
.imgLocked
{
	width:21px;
	height:20px;
	display:block;
	margin-right:5px;
	float:left;
	background-color:orange;
	background-image:url(../../images/lock.gif);
	background-repeat:no-repeat;
	background-position:2px 1px;
}
.divBtmCtrls
{
	border:solid 1px #676767;
	border-top:none;
	padding:5px;
	height:30px;
	display:none;
}
.NavCtrls
{
	border-left:solid 1px whitesmoke;
	display:inline-block;
	margin-left:5px;
	padding-left:2px;
	width:120px;
}
a:visited.BtmDirBtns, a:hover.BtmDirBtns, a:active.BtmDirBtns, a:link.BtmDirBtns, a.BtmDirBtns /* Weeelll.. they're technically not at the bottom anymore buuuttttt... */
{
	border:solid 1px gainsboro;
	background-color:White;
	color:navy;
	margin-left:3px;
	height:18px;
	padding-left:12px;
	padding-right:12px;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
	background-image:url(../../images/bgsil20.jpg);
}
a:visited.BtmDirBtnsDisabled, a:hover.BtmDirBtnsDisabled, a:active.BtmDirBtnsDisabled, a:link.BtmDirBtnsDisabled, a.BtmDirBtnsDisabled /* Weeelll.. they're technically not at the bottom anymore buuuttttt... */
{
	border:solid 1px gainsboro;
	background-color:Whitesmoke;
	margin-left:3px;
	height:18px;
	color:#DDDDDD;
	padding-left:12px;
	font-size:11px;
	padding-right:12px;
	font-weight:normal;
	text-decoration:none;
	background-image:url(../../images/bggray20.jpg);
}
#btnSaveDraft
{
	width:140px;
}
.divTopCtrls
{
	margin-top:5px;
	margin-bottom:8px;
}

/* InfoField in Phase Bar */
#divInfoTitle
{
	font-weight:bold;
	border-bottom:dotted 1px slategray;
	padding-bottom:2px;
	padding-left:17px;
	padding-top:2px;
	background-image:url(../../images/info.gif);
	background-repeat:no-repeat;
	background-position:0% 0%;
}
#divInfoMsg
{
	padding-top:5px;
	margin-left:5px;
}

/* Additional Details */
#divAddNewFld
{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-165px;
	margin-top:-120px;
	width:330px;
	height:200px;
}
#dgAddFlds 
{
	BORDER-BOTTOM: #333333 1px solid;
	width:100%;
}
.txtbox  /*ddl*/
{
	width:110px;
}
.dtxtbox
{
	width:90px;
}
.addfldlbl
{
	VERTICAL-ALIGN: top; 
	WIDTH: 75px;
	padding-top:5px;
}
/* Page Layout */
#btnLoad
{
	border:solid 1px #676767;
}

/* File */
#divAddNewFile
{
	margin-left:25%;
	margin-top:10%;
	width:370px;
}
.UpdFileName
{
	padding-bottom:5px;
}

/* Approval */
#divAddNewApprvl
{
	margin-left:25%;
	margin-top:10%;
	width:300px;
}
.dlgIndent
{
	margin-right:5px;
}
#txtReqdApprvlCnt 
{
	width:40px; 
	text-align:right;
}

/* Subscription */
.TDSubscription
{
	width:50%;
}
.tblSubscriptions
{
	width:100%;
}
#dgGroupSubscriptions, #dgIndivSubscriptions
{
}
#dgGroupSubscriptions TD, #dgIndivSubscriptions TD
{
	padding-top:2px;
}
#divAddSubscription
{
	margin-left:25%;
	margin-top:10%;
	width:300px;
}

/* Security */
.picker TEXTAREA 
{
	WIDTH: 300px; 
	HEIGHT: 60px;
	overflow:auto;
	padding:2px;
}
.SecFldValue
{
	width:300px;
}
.picker INPUT 
{
	WIDTH: 210px;
}

/* Generic */
.fldlbl 
{
	VERTICAL-ALIGN: top; 
	WIDTH: 90px;
	padding-top:5px;
}
.dlgfldlbl
{
	padding-right:10px;
	/*width:220px;
	expression:("230px")*/
}
.dgTEitem TD, .dgTEAltitem TD
{
	padding-left:5px;
	padding-right:8px;
}
DIV.PrmptGrey
{
	/*filter:progid:DXImageTransform.Microsoft.alpha(opacity=50);
	background-image:url(../images/op50tile.png);*/
}
#tdCat, #tdAddDet
{
	padding-top:12px;
	vertical-align:top;
}
#tdAddDet
{
	width:330px;
}
.tblCatAddDet 
{
	width:550px;
}
#divCat
{
	margin-left:10px;
}
#divAddDetd
{
	border:solid 1px #676767;
	height:400px;
}
.OtherDetTitle
{
	padding-right:12px;
}
#btnDel
{
	position:absolute;
	right:6px;
	top:5px;
}
/*
#divNewVerPrmpt
{
	position:absolute;
	TOP: 30%;
	left:50%;
	width:350px;
	margin-left:-175px;
	z-index:210;
}

#lbtnNewVerOK, #lbtnNewVerCancel
{
	margin-left:8px;
	margin-right:8px;
	padding:3px;
	width:80px;
	display:inline-block;
	border:solid 1px lightslategray;
	background-color:gainsboro;
	color:#676767;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
}
DIV.Prmpt
{
	font-size:12px;
	text-align:center;
}
#divNewVerPrmptGrey
{
	position:absolute;
	top:30px;
	bottom:5px;
	left:0px;
	right:5px;
	width:expression("100%");
	height:expression(document.body.clientHeight - 30);
	filter:progid:DXImageTransform.Microsoft.alpha(opacity=50);
	background-image:url(../images/op50tile.png);
}
*/