#lbtnSave, #lbtnRevert
{
	margin-left:5px;
	padding:3px;
	width:70px;
	border:solid 1px lightslategray;
	background-color:gainsboro;
	color:#676767;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
}
#lbtnSaveNClose
{
	margin-left:5px;
	padding:3px;
	width:100px;
	border:solid 1px lightslategray;
	background-color:gainsboro;
	color:#676767;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
}
#divCtrls
{
	border:solid 1px #E0E0E0;
	padding:3px;
	margin-bottom:5px;
}
.PnlBody
{
	border:solid 1px #676767;
	padding:2px;
}
#ValidationSummary1 UL
{
	margin-top:0px;
	padding-top:0px;
	margin-bottom:5px;
	padding-bottom:5px;
	padding-left:0px;
	margin-left:0px;
	list-style-position:inside;
}
LI
{
	margin-left:10px;
}
body, td, span, div, a, label, input, option, li, p
{
	font-family:'Times New Roman';
}