.dvTitle
{
	background-color:White;
	position:absolute;
	font-weight:bold;
	padding:0px 5px 0px 5px;
	margin-left:3px;
}

.dvTemplates
{
	margin-top:10px;
	border:solid 1px black;
	width:100%;
	padding:0px 0px 5px 0px;
}

.dvTemplate
{
	float:left;
	width:180px;
	padding:5px;
	margin:5px;
	border:dotted 1px gainsboro;
}

.TemplateSelector:active, .TemplateSelector:visited, .TemplateSelector:hover, .TemplateSelector:link
{
	color:blue;
}

.TemplateSelector img
{
	border:none;
	margin-top:5px;
}

.TemplateSelector div, .TemplateSelector img
{
	cursor:hand;
}