<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<system.web>
		<compilation debug="false" strict="false" explicit="true" targetFramework="4.5.1">
			<assemblies>
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
		</compilation>
		<identity impersonate="false" />
		<machineKey decryptionKey="5B5EFD296020A83CD70F4DCC0F4F5EE27B09B622518F87ED" validationKey="7FB21C1E2945827233DE7E50E16C6D5E7FADBF3418B503997D73856874D600A1E5F29CDFB9DD6BC3C063893BBCFB760C496AA96C7209F840DAF87DF56BA219CF" />
		<authorization>
			<allow users="*" verbs="*" />
		</authorization>
		<httpHandlers>
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
		</httpHandlers>
		<httpModules>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
		</httpModules>
		<httpRuntime maxRequestLength="2097151" executionTimeout="3600" requestValidationMode="2.0" targetFramework="4.5.1"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
		<sessionState mode="StateServer" />

	</system.web>
	<system.webServer>
		<modules>
			<remove name="Session"/>
			<add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition=""/>
			<add name="BizSense AppSecure" type="IGWebAppSecure.AppSecureMod" preCondition=""/>
			<add name="BizSense DAV" type="DAV.BCDavModule" preCondition=""/>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode"/>
		</modules>
		<handlers>
			<add name="ChartImage_axd" verb="*" preCondition="integratedMode" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" />
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
			<add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
			<add name="Telerik_RadUploadProgressHandler_ashx" verb="*" preCondition="integratedMode" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" />
			<add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
			<add name="BizSense JSON Web Part" verb="*" path="*.json" preCondition="integratedMode" type="IGWebAppSecure.Empty_HttpHandler" />
			<add name="BizSense Web Part" verb="*" path="*.part" preCondition="integratedMode" type="IGWebAppSecure.Empty_HttpHandler" />
			<add name="BizSense AppCache Web Part" verb="*" path="*.appcache" preCondition="integratedMode" type="IGWebAppSecure.Empty_HttpHandler" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false" />
		<httpErrors existingResponse="Auto" errorMode="Custom">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/MyTestWeb/Security/404handler.ashx" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>
	<connectionStrings>
		<add connectionString="Data Source=.\Bizcube;user id=sa;password=admin123;Initial Catalog=VMS;" name="BizSense" />
		
	</connectionStrings>
	<appSettings>
		<add key="WindowsSearchProvider" value="Provider=Search.CollatorDSO;Extended Properties=&quot;Application=Windows&quot;"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="Testing" value="0" />
		<add key="LogPath" value="C:\Log\MyTestWebWWW" />
		<add key="IGWAS_Context" value="" />
		<add key="ModuleInitCalls" value="BizCubeMain:modMain:InitModule|FacAssetMgmt2:sqlFAMgmtFunctions:InitModule|iContact:iContact:InitModule|iCtcFinance:modBPFinance:InitModule|iInvMgmt:iInvMgmt:InitModule|iProject:iProject:InitModule" />
		<add key="EncPublicKey" value="" />
		<add key="EncPrivateKey" value="" />
		<!-- Settings for PackageMgr -->
		<add key="ApplyPkgURLSource" value="Release" />
		<add key="ApplyPkgFileBaseDir" value="C:\Deploy\Release" />
		<add key="ApplyPkgFiles" value="*|BC_Web_Opt_PledgeAndCollection|BC_Web_Opt_iProject|BC_Web_Opt_iInvMgmt|BC_Web_Opt_iFileManager|BC_Web_Opt_iEventAttendance|BC_Web_Opt_iCtcFinance|BC_Web_Opt_HR|BC_Web_Opt_GenesisMain|BC_Web_Opt_FacAssetMgmt2|BC_Web_Opt_EFT|BC_Web_Opt_Achievements|BC_Web_Opt_DAV|" />
		<add key="ApplyPkgVariants" value="NOHTTPS|Ctc2|VMS" />
		<add key="ApplyPkgTest" value="0" />
		<add key="ApplyPkgNotify" value="1" />
		<add key="ApplyPkgDBChanges" value="1" />
		<add key="OtherDoBackupType" value="Default" />
		<add key="OtherDBBackupMoveToPath" value="" />
		<add key="OtherDBBackupKeepXDays" value="14" />
		<add key="OtherFileBackupFromPaths" value="" />
		<add key="OtherFileBackupToPaths" value="" />
		<add key="OtherDiskSpaceCheck" value="" />
		<!-- Settings for EFT module : Payment Gateways -->
		<add key="EFT_IsTesting" value="1" />
		<add key="eNETS_TestURL" value="https://test.enets.sg/enets2/onetouch.do" />
		<add key="eNETS_TestMerchantID" value="" />
		<add key="eNETS_LiveURL" value="https://www.enets.sg/enets2/onetouch.do" />
		<add key="eNETS_LiveMerchantID" value="" />
		<add key="eNETS2_CC_TestMerchantID" value="" />
		<add key="eNETS2_CC_TestConfigFolder" value="C:\UMAPI_NET_API\etc" />
		<add key="eNETS2_CC_TestMerchantCertId" value="1" />
		<add key="eNETS2_CC_TestDefRetSuccessURL" value="https://myurl/MyTestWeb/EFT/ENETS2C/Success.aspx" />
		<add key="eNETS2_CC_TestDefRetFailURL" value="https://myurl/MyTestWeb/EFT/ENETS2C/Failure.aspx" />
		<add key="eNETS2_CC_TestDefRetCancelURL" value="https://myurl/MyTestWeb/EFT/ENETS2C/Cancel.aspx" />
		<add key="eNETS2_CC_LiveMerchantID" value="" />
		<add key="eNETS2_CC_LiveConfigFolder" value="" />
		<add key="eNETS2_CC_LiveMerchantCertId" value="" />
		<add key="eNETS2_CC_LiveDefRetSuccessURL" value="https://myurl/MyTestWeb/EFT/ENETS2C/Success.aspx" />
		<add key="eNETS2_CC_LiveDefRetFailURL" value="https://myurl/MyTestWeb/EFT/ENETS2C/Failure.aspx" />
		<add key="eNETS2_CC_LiveDefRetCancelURL" value="https://myurl/MyTestWeb/EFT/ENETS2C/Cancel.aspx" />
		<add key="eNETS2_DD_TestMerchantID" value="" />
		<add key="eNETS2_DD_TestConfigFolder" value="C:\UMAPI_NET_API\etc" />
		<add key="eNETS2_DD_TestMerchantCertId" value="1" />
		<add key="eNETS2_DD_TestDefRetSuccessURL" value="https://myurl/MyTestWeb/EFT/ENETS2D/Success.aspx" />
		<add key="eNETS2_DD_TestDefRetFailURL" value="https://myurl/MyTestWeb/EFT/ENETS2D/Failure.aspx" />
		<add key="eNETS2_DD_LiveMerchantID" value="" />
		<add key="eNETS2_DD_LiveConfigFolder" value="" />
		<add key="eNETS2_DD_LiveMerchantCertId" value="" />
		<add key="eNETS2_DD_LiveDefRetSuccessURL" value="https://myurl/MyTestWeb/EFT/ENETS2D/Success.aspx" />
		<add key="eNETS2_DD_LiveDefRetFailURL" value="https://myurl/MyTestWeb/EFT/ENETS2D/Failure.aspx" />
		<add key="PP_TestURL" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
		<add key="PP_TestDefRetSuccessURL" value="https://myurl/MyTestWeb/EFT/PayPal/Return.aspx" />
		<add key="PP_TestDefRetCancelURL" value="https://myurl/MyTestWeb/EFT/PayPal/Return.aspx" />
		<add key="PP_TestMerchantID" value="Q9SL7T665R4ZQ" />
		<add key="PP_TestMerchantBizEmail" value="paypal_1347718792_biz@bizcube.com.sg" />
		<add key="PP_TestPDTAuthToken" value="9BS2Iuvkczab6EadJaMvRIH4dObNvszG8HlRmKzhfbMya11Fp1kv_4orAqC" />
		<add key="PP_LiveURL" value="https://www.paypal.com/cgi-bin/webscr" />
		<add key="PP_LiveDefRetSuccessURL" value="https://myurl/MyTestWeb/EFT/PayPal/Return.aspx" />
		<add key="PP_LiveDefRetCancelURL" value="https://myurl/MyTestWeb/EFT/PayPal/Return.aspx" />
		<add key="PP_LiveMerchantID" value="" />
		<add key="PP_LiveMerchantBizEmail" value="" />
		<add key="PP_LivePDTAuthToken" value="" />
		<add key="Tele_TestURL" value="" />
		<add key="Tele_TestMerchantID" value="" />
		<add key="Tele_TestStatusURL" value="" />
		<add key="Tele_LiveURL" value="https://securepayments.telemoneyworld.com/easypay2/paymentpage.do" />
		<add key="Tele_LiveMerchantID" value="" />
		<add key="Tele_LiveStatusURL" value="" />
		<add key="MCP_TestMerchantID" value="3115030004" />
		<add key="MCP_TestSecretKey" value="D5oY10GJ1wOsD2lgBh0POSrOEshJzPmN" />
		<add key="MCP_TestDefRetURL" value="https://myurl/MyTestWeb/EFT/MCP/Return.aspx" />
		<add key="MCP_TestDefRetStatusURL" value="https://myurl/MyTestWeb/EFT/MCP/Notify.ashx" />
		<add key="MCP_LiveURL" value="https://map.mcpayment.net/payment/dopayment" />
		<add key="MCP_LiveMerchantID" value="" />
		<add key="MCP_LiveSecretKey" value="" />
		<add key="MCP_LiveDefRetURL" value="https://myurl/MyTestWeb/EFT/MCP/Return.aspx" />
		<add key="MCP_LiveDefRetStatusURL" value="https://myurl/MyTestWeb/EFT/MCP/Notify.ashx" />
		<add key="mPay_TestMerchantShopID" value="32"/>
		<add key="mPay_TestURL" value="https://mg.2mpayment.com:28443/CCPG/Payment"/>
		<add key="mPay_LiveMerchantShopID" value=""/>
		<add key="mPay_LiveURL" value="https://mg.2mpayment.com/CCPG/Payment"/>
	</appSettings>
</configuration>
