.CSCCalendar
{
   font-size: 8pt;
   /*border-right: lightgrey ridge;
   border-top: lightgrey ridge;
   filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color= 'gray' , Positive= 'true' ) progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=20, Style=1, StartX=96, FinishX=100, StartY=0, FinishY=0) progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=20, Style=1, StartX=0, FinishX=0, StartY=97, FinishY=100);
   border-left: lightgrey ridge;
   border-bottom: lightgrey ridge;*/
   filter:none;
   font-family: Arial;
   background-color: white;
}
.CSCCal
{
	background-color:White;
}
.PageTitle
{
	padding-bottom:0px;
}
.divScopes
{
	font-size:12px;
	padding-left:0px;
}
a.aScope
{
	font-size:12px;
	text-align:center;
	text-decoration:none;
	border:solid 1px gainsboro;
	border-bottom:none;
	background-color:gainsboro;
	background-image:url(../../images/bgblue40.jpg);
	width:80px;
	height:20px;
	margin-left:6px;
	display:table-cell;
}
SPAN.aCurScope
{
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	border:solid 1px gainsboro;
	border-bottom:none;
	color:Blue;
	background-color:gainsboro;
	background-image:url(../../images/bgsil40.jpg);
	width:80px;
	height:20px;
	margin-left:6px;
	display:table-cell;
}
#MainCalTable
{
	width:100%;
	/*background-color:white;
	border:solid 1px gainsboro;*/
}
#lblDate
{
	padding-right:6px;
	font-weight:bold;
}
/* Select Person Controls for Calendar Pages */
#divSelectPerson
{
	position:absolute;
	top:60px;
	left:12px;
	width:200px;
	border:solid 1px gray;
	border-left:solid 1px gainsboro;
	border-top:none;
	padding:6px;
	padding-bottom:12px;
	background-color:whitesmoke;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color= 'gainsboro' , Positive= 'true' );
}
.divChangePerson
{
	float:left;
	padding-left:6px;
	margin-right:80px;
}
#txtSelPerson
{
	width:150px;
}
#lbnRevertToMyself
{
	margin-top:12px;
}
.privateEvent
{
	font-style:italic;	
}
/* END OF Select Person Controls for Calendar Pages */
.divDateBtns
{
	margin-bottom:6px;	
}
a.DateBtns
{
	padding:6px;
	padding-top:2px;
	padding-bottom:3px;
	margin-right:6px;
	color:#676767;
	background-color:gainsboro;
	background-image:url(../../images/bgblue30.jpg);
	border:solid 1px gainsboro;
	text-decoration:none;
}
.CalBar
{
	width:170px;
	vertical-align:top;
	padding-top:12px;
	padding-left:6px;
}
.ScheduleBar
{
	vertical-align:top;
	padding:6px;
	height:200px;
}
#divScheduleBar
{
	overflow:auto;
	margin-top:6px;
	border:solid 2px gainsboro;
}
.divScheduleBarW
{
	overflow:auto;
	margin-top:6px;
	border:solid 2px gainsboro;
}

/* End Tasks Styles */
.TaskBar
{
	vertical-align:top;
	padding:6px;
	padding-bottom:0px;
	width:240px;
}
#divTaskBar
{
	margin-top:6px;
	border:solid 1px gainsboro;
	border-top:none;
}
#dgTasks
{
	width:100%;
	border:none;
}
.dgHdr TD
{
	background-image:url(../../images/bgsil40.jpg);
	border:solid 1px gainsboro;
	padding:2px;
}
.dgItem TD
{
	padding:3px;
	background-color:White;
}
.dgFtr TD
{
	border:1px solid white;
	padding:3px;
}

.taskFilterD
{
	float:right;
	padding-right:15px;
	background-repeat:no-repeat;
	background-position: 100% 100%;
	background-image:url(../../images/Calendar/Cald.gif);
	cursor:hand;
}
.taskFilterU
{
	float:right;
	padding-right:15px;
	background-repeat:no-repeat;
	background-position: 100% 100%;
	background-image:url(../../images/Calendar/Calu.gif);
	cursor:hand;
}
#dvFilters
{
	position: absolute;
	visibility: hidden;
	background: whitesmoke;
	border: solid 1px gray;
	color: black;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color= '#CDCDCD' , Positive= 'true' ) progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=20, Style=1, StartX=98, FinishX=100, StartY=0, FinishY=0) progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=20, Style=1, StartX=0, FinishX=0, StartY=98, FinishY=100);
}
.divFilterOptTitle
{
	background-color:Gray;
	color:White;	
	padding:3 12 3 6;
	white-space:nowrap;
	nowrap:true;
}
#tblFilter
{
	margin-top:6px;	
	margin-bottom:6px;	
}
#tblFilter td
{
	padding:0 6 0 6;
}
#lbnTaskFilter
{
	margin-top:6px;
	display:block;
	text-decoration:none;
	text-align:center;
	border:solid 1px gainsboro;
	background-color:gainsboro;
	background-image:url(../../images/bgsil40.jpg);
	width:80px;
	height:20px;
	color:black;
	display:table-cell;
}

.TaskFlag
{
	background-color:whitesmoke;
	color:gray;
	padding:0 0 0 4;
	font-size:11px;
	font-weight:bold;
	height:15px;
	width:15px;
}
.TaskC
{
	background-color:lightgreen;
	color:White;
	padding:0 0 0 4;
	font-size:11px;
	font-weight:bold;
	height:15px;
	width:15px;
}
.TaskP
{
	background-color:skyblue;
	color:White;
	padding:0 0 0 4;
	font-size:11px;
	font-weight:bold;
	height:15px;
	width:15px;
}
.TaskP
{
	background-color:gold;
	color:White;
	padding:0 0 0 4;
	font-size:11px;
	font-weight:bold;
	height:15px;
	width:15px;
}
.TaskS
{
	background-color:skyblue;
	color:White;
	padding:0 0 0 4;
	font-size:11px;
	font-weight:bold;
	height:15px;
	width:15px;
}
.TaskX
{
	background-color:gray;
	color:White;
	padding:0 0 0 4;
	font-size:11px;
	font-weight:bold;
	height:15px;
	width:15px;
}
.Overdue
{
	color:Red;
}
/* End Tasks Styles */

/* Week View Styles */
.tblWkDySchd
{
	border:solid 1px #C9C9C9;
	margin-top:6px;
}
.WkDyDate
{
	margin-left:3px;
	font-weight:normal;
	color:gray;
}
.WkDyAdd
{
	float:right;
	font-weight:normal;
	font-size:10px;
}
.WkDyAdd a:link, .WkDyAdd a:active, .WkDyAdd a:hover, .WkDyAdd a:visited
{
	color:steelblue;
}
#divWMon, #divWTues, #divWWed, #divWThurs, #divWFri, #divWSat, #divWSun
{
	overflow:auto;
	padding:3px;
}
#divWThurs, #divWFri, #divWSat, #divWSun
{
	border-left:solid 1px #C9C9C9;
}
#HMon, #HTues, #HWed, #HThurs, #HFri, #HSat, #HSun
{
	font-size:12px;
	width:50%;
	font-weight:bold;
	color:black;
	padding:3px;
	padding-left:6px;
	border-left:solid 1px #C9C9C9;
	border-top:solid 1px #C9C9C9;
	border-bottom:solid 1px #C9C9C9;
	background-color:gainsboro;
	background-image:url(../../images/bgsil40.jpg);
}
#HMon, #HThurs
{
	border-top:none;
}
#HMon, #HTues, #HWed
{
	border-left:none;
}
.HourCss, .HourLastCss
{
	background-color:#C7E0E8;
	background-color:#DEEAFF;
	text-align:right;
	font-size:12px;
	font-weight:bold;
	border-bottom:solid 1px #CBCBCB;
	border-right:solid 1px #CBCBCB;
	color:Gray;
	padding-right:3px;
}
.HourLastCss
{
	border-bottom:none;
}
.EventCSS, .HoverEventCSS
{
	background-color:White;
	cursor:pointer;
	cursor:hand;
	font-size:11px;
	border-right:solid 1px gray;
	border-left:solid 4px #A1BFF4;
	border-left:solid 4px #6C71FF;
}
.HoverEventCSS
{
	background-color:#6C71FF;
	color:White;
}
.UnclickableEventCSS, .HoverUnclickableEventCSS
{
	background-color:#E9E9E9;
	color:#101010;
	font-size:11px;
	border-right:solid 1px gray;
	border-left:solid 4px gray;
	padding-left:17px;
	background-image:url(../../images/Calendar/lock.gif);
	background-repeat:no-repeat;
	background-position:3px 3px;
}
/* End Week View Styles */

/* Month View Styles */
.MonthViewHdr TD
{
	background-image:url(../../images/bgblue40.jpg);
	padding:3px;
	text-align:center;
	border:solid 1px lightsteelblue;
}
.CalMonthViewDay
{
	vertical-align:top;
	border:solid 1px gainsboro;
	width:13%;
}
.CalMonthViewHdr
{
	background-image:url(../../images/bgsil40.jpg);
	padding:3px;
	text-align:right;
}
.CalOMonthViewHdr
{
	background-image:url(../../images/bgsil40.jpg);
	padding:3px;
	text-align:right;
}
.CalMonthViewHdr a:link, .CalMonthViewHdr a:active, .CalMonthViewHdr a:visited, .CalMonthViewHdr span
{
	color:Gray;
	text-decoration:none;
}
.CalMonthViewHdr a:hover
{
	color:Blue;
	text-decoration:underline;
}
.CalOMonthViewHdr a:link, .CalOMonthViewHdr a:active, .CalOMonthViewHdr a:visited, .CalOMonthViewHdr span
{
	color:#ACACAC;
	text-decoration:none;
}
.CalOMonthViewHdr a:hover
{
	color:Blue;
	text-decoration:underline;
}
.CalMonthViewDetails
{
	padding:6px;
	padding-top:2px;
	overflow:auto;
	font-size:9px;
}
#divMonthSchdBar
{
	margin-top:6px;
}
/* End of Month View Styles */

/* PeterBlums SP Date */
.HasEvents
{
	font-weight:bold;
	color:navy;
   background-color:aliceblue;
   cursor: pointer;
   cursor: hand;
}
.HasEventsOM
{
	font-weight:bold;
	color:navy;
	cursor: pointer;
   cursor: hand;
}
.CalDay
{
   cursor: pointer;  /* W3C approved hand. See http://www.xs4all.nl/~ppk/css2tests/index.html */
   cursor: hand;
   background-color:aliceblue;
}
.CalToday
{	
	cursor: pointer;  
   cursor: hand;
   background-color:aliceblue;
}
.CalSelectedDay
{
   background-color: gold;
   cursor: pointer;
   cursor: hand;
   font-weight:bold;
}
.CalSelectedToday
{
   background-color: gold;
   cursor: pointer;
   cursor: hand;
   font-weight:bold;
}

.PrintSch
{
	background-image:url(../../images/Calendar/print.gif);
	background-repeat:no-repeat;
	padding-left:18px;
}
/* End Of PeterBlums SP Date */