.tblMainDetails
{
	width:100%;
}
.CalFld
{
	width:80px;
	vertical-align:top;
	padding-top:3px;
}
#txtSubject
{
	width:280px;
}
#txtStartDate, #txtEndDate, #txtDueDate, #txtToBeginOnDate, #txtRemindDate
{
	width:80px;
}
#txtStartTime, #txtEndTime, #txtDueTime, #txtToBeginOnTime, #txtRemindTime
{
	width:55px;	
}
#txtRecipient
{
	width:280px;
}
#txtRemarks
{
	width:280px;
	height:120px;
}
#Seperator
{
	padding-left:7px;
	padding-right:12px;
}
.DlgBtns
{
	width:80px;
	margin-right:5px;
}
#btnCancel.DlgBtns
{
	width:120px;
}
#btnFollowUp
{
	float:right;
	border-right:solid 1px black;
}
#btnFollowupOpts
{
	float:right;
	border-left:none;
	width:20px;
}
#divFollowupOpts
{
	position:absolute;
	right:12px;
	bottom:45px;
	z-index:500;
	border:solid 1px gray;
	background-color:whitesmoke;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color= 'gainsboro' , Positive= 'true' );
}
.divFollowupOptTitle
{
	background-color:Gray;
	color:White;	
	padding:3 12 3 6;
}
.divFollowupOptCmds
{
	padding-left:6px;	
	padding:3 0 6 6;
}
/*Task Specific */
.TDTaskDates
{
	height:24px;
}
.tblTaskDates
{
}
.TaskDates
{
	vertical-align:top;
	padding-left:12px;
}
.NonInput
{
	
}
#ShowBeginOnOpts, #ShowDueOpts
{
	margin-left:3px;
}
#btnDuplicate
{
	float:right;
}
.CalDlgBG
{
	background-color:whitesmoke;	
}