/* Default CSS Stylesheet for a new Web Application project */
/* ORLIT etc styles */
LABEL.ProjectRec, LABEL.ContactRec, LABEL.CommRec, LABEL.KBRec, LABEL.iBizCNORec, LABEL.iBizDORec, LABEL.iBizEstRec, LABEL.iBizINVRec, LABEL.iBizPINRec, LABEL.iBizPORec, LABEL.iBizPRFRec, LABEL.iBizPVRec, LABEL.iBizQRec
{
	padding-left:15px;
	color:#676767;
	font-weight:bold;
}
/* END OF ORLIT styles */
.GSearchDesc
{
	color:lightslategray;
}
.GSearchTitleLnk
{
}
.GSResult
{
	margin-top:8px;
	margin-bottom:2px;
}

#lblError
{
	font-weight:bold;
	color: Red;
}