body
{
	margin:0px;
	padding:0px;
	padding-left:3px;
	padding-top:3px;
	border-right:solid 1px #676767;
	height:100%;
}
.GlobalSearchMainBody
{
	border:none;
}
.GSearchTitleLnk
{
	font-size:15px;
}
.GSearchDesc
{
	font-size:12px;
	padding-top:2px;
}
.SearchTitle
{
	font-weight:bold;
	font-size:12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	padding:5px;
	color:#676767;
}

/*#UP Table
{
	background-color:Yellow;
}
#UP
{
	background-color:pink;
}
.SearchCatList
{
	height:400px;
	background-color:Blue;
}*/
.SearchCats
{
	font-weight:bold;
	font-size:11px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	padding:1px;
	padding-left:5px;
	color:whitesmoke;
	color:#676767;
	/*background-color:#898989;*/
}

#btnSearch
{
	border:solid 2px gainsboro;
	color:#676767;
	font-weight:bold;
	font-size:1px;
	margin-left:3px;
	width:32px;
	height:20px;
	background-image:url(../../images/searchwhitearrow.gif);
	background-repeat:no-repeat;
	background-color:#FEAF1E;
	background-position:50% 0%;
}

.chkLiveOnly label
{
	color:White;
	font-size:10px;
	font-weight:normal;
}
#tblMain
{
	position:absolute;
	top:0px;
	bottom:0px;
	background-color:Green;
}

.SearchTitle
{
	font-weight:bold;
	font-size:12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	padding:2px;
	padding-left:5px;
	background-color:#676767;
	color:whitesmoke;
}

.SearchTitle A:visited, .SearchTitle A:hover, .SearchTitle A:Active, .SearchTitle A:Link
{
	font-weight:normal;
}

.AwayFromTop
{
	padding-top:5px;
	margin-left:4px;
	margin-right:5px;
	border-color:slategray;
	border-style:solid;
	border-width:1px;
}

#rblMatchType
{
	display:block;
}

.SearchOpt
{
	position:relative;
	top:5;
	left:7;
	background-color:white;
	margin:0;
	padding:0;
	padding-left:2;
	font-size:11px;
	font-weight:550;
	color:#333333;
}

#pnlMatchType label, #pnlFields label
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color:#575757;
}

.SearchTxt, .SearchCatList
{
	padding-left:5px;
	padding-right:5px;
	padding-top:1px;
	margin-bottom:2px;
}
.SearchTxt
{
	padding-left:0px;
}
.SearchCats
{
	font-weight:bold;
	font-size:11px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	padding:1px;
	padding-left:5px;
	color:#575757;
}
#txtSearch
{
	width:115px;
}