/* Default CSS Stylesheet for a new Web Application project */
*
{
	-moz-box-sizing: border-box; /*BLESS MY TEN TOES!!! IT WORKS!!! */		
}
.pinky
{
	background-color:pink;
}
.redy
{
	background-color:Red;
}
body
{
	background-image: url(../images/bg.gif);/**/
	background-repeat:  no-repeat;
	background-position: 0% 0%;/**/
	background-color:white;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0px;
	padding-left:12px;
	padding-right:12px;
}
div, body
{
	/*scrollbar-face-color : #BFD8FE;
	scrollbar-highlight-color : #BFD8FE;
	scrollbar-3dlight-color : #BFD8FE;
	scrollbar-shadow-color : #AFC8EE;
	scrollbar-darkshadow-color : white;
	scrollbar-track-color : white;
	scrollbar-arrow-color : white;*/
}
Body.NoBG
{
	background-image:none;
}
Body.NoPad
{
	padding:0px;
}

TABLE
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
}

TH
{
	font-weight: bold;
}

input
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
}

label
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
}

textarea
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	overflow:auto;
}

select
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
}

IMG
{
	border:none;
}
.bold
{
	font-weight:bold;
}
.Success
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	font-weight:700;
	color:Blue;
}

.Fail
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	font-weight:700;
	color:red;
}

.Instruction
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	color:lightslategray;
}

.InstructionBold
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	font-weight:700;
	color:lightslategray;
}

.PageTitle
{
	font-family: Helvetica,Arial;
	color:#676767;
	color:black;
	padding:9px;
	padding-right:0px;
	padding-top:6px;
	margin-bottom:12px;
	margin-left:-12px;
	font-size:30px;
	border-bottom:solid 1px #F0F0F0;
	background-image:url(../images/titlebg.jpg);
	background-repeat:no-repeat;
	background-position: 0% 50%;
	display:block;
}
.PageTitleFloatRightCmd
{
	float:right;
	margin-top:0px;
}
.PopupPageTitle
{
	font-family:Arial;
	color:#676767;
	color:black;
	padding:5px;
	padding-top:0px;
	margin-bottom:3px;
	margin-left:-12px;
	font-size:25px;
	width:100%;
	border-bottom:solid 1px #F0F0F0;
	background-image:url(../images/titlebg.jpg);
	background-repeat:repeat-y;
	background-position: 0% 100%;
	display:block;
}

.PageTitleCaption
{
	padding-left:2px;
	font-size:12px;
	font-family:Arial, Verdana;
	font-style:italic;
	font-weight:normal;
	display:block;
}
.Title
{
	font-size:15px;
	font-weight:bold;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	color:#676767;
}
.SubTitle
{
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	color:#676767;
}	

.SubTitle2
{
	font-size:13px;
	font-weight:bold;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	color:#39599c;
}


.SubSubTitle
{
	font-size:11px;
	font-weight:bold;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	color:#676767;
}
.BarTitle
{
	font-size:15px;
	font-weight:bold;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	color:#676767;
	background-image:url(../images/bgblue40.jpg);
}
.BarSubTitle
{
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	display:block;
	color:#676767;
	background-image:url(../images/bgblue30.jpg);
}

.BarSubTitle:active, .BarSubTitle:link, .BarSubTitle:hover, .BarSubTitle:visited
{
	color:#676767;
}
.OFA
{
	overflow:auto;
}
.OFH
{
	overflow:hidden;
}
.Caption
{
	font-size:11px;
	padding-right:12px;
	padding-top:3px;
	vertical-align:top;
	white-space:nowrap;
}
.SubContent
{
	padding-left:6px;
	margin-bottom:6px;
}
.SubSubContent
{
	padding-left:6px;
	margin-bottom:6px;
}


/* Search Bar */
.SearchBar
{
	float:right;
	padding-top:5px;
	font-size:11px;
	font-weight:bold;
	color:#676767;
	width:210px;
}
.txtSearch 
{ 
	font-size:11px; 
	width:120px; 
	border:solid 1px #9A9A9A; 
	margin-right:5px; 
}
.btnSearch 
{ 
	width:40px; 
	font-size:11px; 
	border:solid 1px #9A9A9A; 
}

.Validator
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	color:Red;
}

.CenterAlign
{
	margin-left:auto;
	margin-right:auto;
	padding-left:auto;
	padding-right:auto;
	text-align:center;
}

.Field
{
	
}

.RightAlignText
{
	text-align: right;
}

.NoWrap
{
	white-space:nowrap;
}

A:visited, A:hover, A:active, A:link
{
	color:Blue;
}

.HRef
{
	color:Blue;
	cursor:hand;
	text-decoration:underline;
}
.warning
{
	color:red;	
}
.divGreyOut
{
	position:absolute;
	top:0px;
	bottom:5px;
	left:0px;
	right:5px;
	width:expression(this.offsetParent.clientWidth);
	height:expression(this.offsetParent.clientHeight);
	filter:progid:DXImageTransform.Microsoft.alpha(opacity=50);
	background-image:url(../images/op50tile.png);
	z-index:300;
}
.PrmptHdr
{
	background-image: url(../images/prmpt.jpg);
	background-repeat:repeat-x;
	padding:2px;
	padding-left:0px;
	padding-bottom:2px;
	color:#676767;
	font-weight:bold;
	font-size:11px;
}
.PrmptHdrR
{
	background-image: url(../images/prmptR.jpg);
	background-repeat:no-repeat;
	background-position: 100% 0%;
	padding:0px;
	padding-right:8px;
}
.PrmptHdrL
{
	background-image: url(../images/prmptL.jpg);
	background-repeat:no-repeat;
	background-position: 0% 0%;
	padding-left:8px;
}
.PrmptDiv
{
	border:solid 1px #98989A;
	border-top:none;
	padding:5px;
	padding-top:15px;
	padding-bottom:15px;
	background-color:#FFFFFF;
}
.PrmptBtns
{
	border:solid 1px gainsboro;
	width:70px;
	background-image:url(../images/bgsil20.jpg);
	margin-right:5px;
}
.divGreyOut
{
	position:absolute;
	top:0px;
	bottom:5px;
	left:0px;
	right:5px;
	width:expression(this.offsetParent.clientWidth);
	height:expression(this.offsetParent.clientHeight);
	filter:progid:DXImageTransform.Microsoft.alpha(opacity=50);
	background-image:url(../images/op50tile.png);
	z-index:300;
}
/* iframe for GlobalMain */
.HomeSearchBox
{
	height:40px;
	width:155px;
	/*border:solid 1px #E8A213;*/
}
a:link.HomeAddBtn, a:active.HomeAddBtn, a:hover.HomeAddBtn, a:visited.HomeAddBtn
{
	background-image:url(../images/addnew.gif);
	background-repeat:no-repeat;
	background-position:0px 2px;
	font-size:12px;
	height:50px;
	padding-left:50px;
	padding-top:5px;
	width:110px;
	text-decoration:none;
	font-weight:bold;
	display:block;
	float:left;
	color:#317FFD;
	color:black;
}

.Hidden
{
    display:none;
}

/* FP Spread Readonly style */
.RO
{
    background-color:lightgrey;
    color:dimgrey;
}

/* FP Spread Editable style */
.E
{
    /* Empty atm, using default style */
}