.PggPageSel
{
	float:right;
	font-size:10px;
	height:20px;
}
.divPnlPgRecCnt
{
	float:right;
	font-size:10px;
	padding-top:3px;
	padding-top:expression('6px');
	padding-right:20px;
	height:20px;
}
.divPnlPgLbtns
{
	font-size:10px;
	height:20px;
}
#pnlPaging
{
	height:26px;
	padding-top:5px;
	padding-left:6px;
	padding-right:6px;
}
#cmbPage
{
	font-size:10px;
}
.DisableStyle
{
	color:#ABABAB;
}
a:hover.PagingEnabled, a:visited.PagingEnabled, a:link.PagingEnabled, a:active.PagingEnabled
{
	color: blue;
}

a:hover.PagingDisabled, a:visited.PagingDisabled, a:link.PagingDisabled, a:active.PagingDisabled
{
	cursor:default;
	text-decoration:none;
	color:black;
}
