.Underlay
{
	display:none;
}

.Overlay
{
	display:block;
	position:absolute;
	top:50;
	left:150;
	right:50;
	bottom:50;
	overflow:auto;
	background-color:Black;
}

.ImgLnk:link, .ImgLnk:visited, .ImgLnk:active, .ImgLnk:hover
{
	text-decoration:underline;
	color:Blue;
	cursor:hand;
}

.SelectedImgLnk:link, .SelectedImgLnk:visited, .SelectedImgLnk:active, .SelectedImgLnk:hover
{
	text-decoration:none;
	color:Black;
	cursor:pointer;
	cursor:default;
}

.UPTB, .DATB
{
	width:50px;
	text-align:right;
}
.DPTB, .MUTB
{
	width:30px;
	text-align:right;
}

.Hidden
{
	display:none;
}

.RightAlignText
{
	text-align: right;
}

.MandatoryIndicator
{
	font-family: Arial;
	font: Arial;
	/*font-size: 12px;*/
	color: Red;
}
.InfoNote
{
	font-family: Arial; 
	font: Arial; 
	/*font-size: 11px;*/
	color: blue;
}

.CenterAlign
{
	margin-left:auto;
	margin-right:auto;	
}

.table
{
	border-collapse: collapse;
}
.table th
{
	border-collapse: collapse;
}
.table tr
{
	border-collapse: collapse;
	height: 25px;
}
.table td
{
	border-collapse: collapse;
}
.InnerItem
{
	padding: 0px 3px 0px 3px;
	vertical-align: top;
	font-family: Arial;
	font: Arial;
	/*font-size: 12px;*/
}
.InnerItem2
{
	padding: 0px 3px 0px 3px;
	vertical-align: top;
	font-family: Arial;
	font: Arial;
	/*font-size: 12px;*/
}
.InnerItem3
{
	padding: 0px 3px 0px 3px;
	vertical-align: top;
	font-family: Arial;
	font: Arial;
	/*font-size: 12px;*/
	font-weight: bold;
}

div.autosize { display: table; width: 1px; }
div.autosize > div { display: table-cell; }

a:link.AddRelButton, a:active.AddRelButton, a:hover.AddRelButton, a:visited.AddRelButton
{
	background-image:url(../../images/Settings/additem.Gif);
	background-repeat:no-repeat;
	background-position:0px 3px;
	font-size:12px;
	height:25px;
	padding-left:20px;
	padding-top:5px;
	width:150px;
	text-decoration:none;
	font-weight:bold;
	display:block;
	float:left;
	color:#317FFD;
	color:black;
	vertical-align:middle
}