.dgFixedColumnA 
{
	LEFT: expression(document.getElementById('divReport').scrollLeft-2); 
	POSITION: relative;
}

.dgFixedColumnA A:Active,.dgFixedColumnA A:Visited,.dgFixedColumnA A:hover,.dgFixedColumnA A:link
{
	color:Black;
}

.qf 
{
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px
}

.dgFixedRowA 
{
	TOP:expression(document.getElementById('divReport').scrollTop-2); 
	POSITION: relative;
	z-index:expression(1);
}

#divReport
{
	overflow:auto;
}

#dgProjects
{
	Width:1280px;
}

.PrintOnly
{
	display:none;
}