/* Default CSS Stylesheet for a new Web Application project */

BODY
{
	background-color:white;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	text-decoration:none;
	font-size:12px;
	font-weight:normal;
	letter-spacing:normal;
	text-transform:none;
	word-spacing:normal;
}

TABLE
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

TH
{
	font-weight: bold;
}

TD
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

input
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
}

label
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
}

textarea
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
}

select
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
}

IMG
{
	border:none;
}

.Success
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	color:Blue;
}

.Fail
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	color:red;
}

.Instruction
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	color:#556677;
}

.InstructionBold
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	font-weight:700;
	color:#556677;
}

.FAMgtIcon
{
	background-image:url(../../images/Sec/FAMgtH.png);
	background-repeat:no-repeat;
	padding-top:6px;
	padding-bottom:5px;
	padding-left:65px;
}


.Title
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:18px;
	font-weight:600;
	font-style:normal;
	text-decoration:none;
	word-spacing:normal;
	letter-spacing:normal;
	text-transform:none;
	color:#003366;
}


.DGSpecialRow
{
	background-color:Azure;
}

.DGLate
{
	background-color:MistyRose;
}

.DGOut
{
	background-color:LightGrey;
}

.DGOutLate
{
	background-color:LightCoral;
}

.Validator
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	color:Red;
}

.Paging
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
   font-Size:x-small;
}

.PJTFloatRightCmd
	{
		float:right;
		margin-top:6px;
		width:150px;

	}