@import url('http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');

body 
{
	font-size: 12px;
  font-family: 'Droid Serif', serif;
  line-height: 1.4em;
}

.TableStyle
{
	padding-top:5px;
	padding-bottom:12px;
	padding-left:8px;
	padding-right:12px;
	position:relative;
	overflow:auto;
	margin-bottom:5px;
	top:-1px;
	display:table;
	z-index:102;
	-moz-box-sizing: border-box; 
	border-collapse: collapse;
	width:900px;
}

.TableRowStyle
{
	border-bottom:solid 0px #C1CAD5; 
	margin:0; 
	padding:0;
}

.TableColStyle
{
	border-bottom: 0px solid #E6E6E6; 
	margin:0; 
	padding: 3px;
}

.HeaderStyle
{
	color: #FF8C00;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-top: 6px;
}

.SubHeaderStyle
{
	color: #A4A4A4;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:12px; 
	margin-top: 2px; 
	font-weight: bold;
}

.LabelStyle
{
	color: #886A08;
	font-size:12px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
}

.TitleStyle
{
	font-family: 'Oswald',sans-serif;
	font-weight: 600;
	color: #FF8C00;	
}

.SubTitleStyle
{
	color: #373636;
  font-family: 'Pontano Sans',sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.3em;
}

.FilterStyle
{
	color:#DF0101;
	font-family: 'Pontano Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3em;
}

.DivStyle
{
	float:right;
	position:relative;
	width:100%;
}

.Container
{
	width: 950px;
	height:auto;
	margin: 0 auto;
}

.ButtonStyle
{
	color: #F5ECCE;
	background-color: #F6944C;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	width: 150px;
	height: 35px;
}

.LinkStyle
{
	color: #FF0000;
	font-size:12px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.DataStyle
{
	color: #5F4C0B;
	font-size:12px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
}

input[type=text]  
{
	width: 250px; 
  border: 1px solid #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: #5F4C0B;
  display: block;
  font-family: 'Pontano Sans',sans-serif;
  font-size: 12px;
  height: 14px;
  margin: 0 0 1px;
  padding: 6px;
  transition: all 0.15s linear 0s;
}

select
{
	color: #5F4C0B;
	font-size:14px;
	font-family:'Pontano Sans',sans-serif;
	padding: 5px;
	line-height: 1;
	border: 1px solid #CCCCCC;
	border-radius: 2px 2px 2px 2px;
  height: 30px;
  background-color: #FFFFFF;
  width: 265px;
  margin: 0 0 1px;
}

input[type=password]  
{
	width: 250px; 
	background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 12px;
  height: 14px;
  margin: 0 0 1px;
  padding: 6px;
  transition: all 0.15s linear 0s;
}

.smalltextstyle 
{
	 color: #373636;
   font-family: 'Pontano Sans',sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 1.0em;
}

.CourseTitle
{
	color:#DF7401; 
	font-family: 'Oswald',sans-serif; 
	font-weight:bold;
}

.CourseTitle2
{
	color:#8A4B08; 
	font-family: 'Pontano Sans',sans-serif;
	font-weight:bold;
	font-size: 14px;
}

.CourseInfo
{
	color:#E78711;
	font-family: 'Pontano Sans',sans-serif; 
	font-weight:bold; 
	font-size:11px;
}
