/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

/* Global Styling */
body
{
  font-size:0.75em;
  line-height:1.5em;
}
p
{
  margin:10px 5px;
}
.ui-corner-all
{
  border:1px solid #D9D9D9;
}
.row
{
  padding:5px;
}
h1, h2, h3, h4, h5, h6
{
  margin:10px 0px 10px 20px;
}
label
{
  margin:5px 7px 5px 0px;
}
.ui-widget
{
  font-size:1em;
}
td
{
  padding:5px;
}
.ui-button
{
  margin-right: 0.5em !important;
}
input[type=text], textarea
{
  width:90%;
}
input[type=checkbox], input[type=radio]
{
  margin: 0 7px 0 10px;
}

/* Content Styling */
.border
{
  border-bottom:1px solid #D9D9D9;
}
.PageTitle {
  background-image: url("../Styles/default/images/titlebg.jpg");
  background-position: 0 50%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #F0F0F0;
  color: black;
  display: block;
  font-family: Helvetica,Arial;
  font-size: 30px;
  margin-bottom: 12px;
  margin-left: -12px;
  padding: 6px 0 9px 9px;
}
#leave_selection_tbl tbody tr td
{
  padding:5px;
}
.required
{
  color:Red;
}
.rgt
{
  text-align:right;
}
.lft
{
  text-align:left;
}
.ctr
{
  text-align:center;
}
.weekends, div.lightblue, .lightblue
{
  background: rgb(125, 153, 148);
  background: rgba(125, 153, 148, 1);
}
.ph  
{
  background: rgb(255, 124, 93);
  background: rgba(255, 124, 93, 1);
}
.mc  
{
  background: rgb(65, 204, 180);
  background: rgba(65, 204, 180, 1);
}
.block  
{
  background: rgb(255, 234, 149);
  background: rgba(255, 234, 149, 1);
}
div.red, .red
{
  background: rgb(199, 1, 81);
  background: rgba(199, 1, 81, 1);
}
div.yellow, .yellow
{
  background-color:#FBEC5D;
}
div.orange, .orange
{
  background-color:Orange;
}
div.red, div.lightblue, div.yellow, div.orange, div.ph, div.mc, div.block
{
  width:150px;
  text-align:center;
}
div.inline
{
  float:left;
  padding:5px 7px;
}
div.rinline
{
  float:right;
  margin:5px 7px;
}
.clearboth
{
  clear:both;
}
.dataTable tr td 
{
  padding:7px 0;
}
table.prorate tr td
{
  padding:5px;
}
.half
{
  min-width:10%;
}
.one
{
  min-width:85px;
  max-width:20%;
}
.two
{
  min-width:170px;
  max-width:40%;
}
.three
{
  min-width:255px;
  max-width:60%;
}
.four
{
  min-width:90%;
  max-width:80%;
}
.five
{
  min-width:90%;
  max-width:100%;
}
#PHTbl tbody tr td, #BlockTbl tbody tr td 
{
  border: #000 solid 1px;
  padding: 5px 25px;
}
#CalendarTbl tbody tr td
{
  padding: 1em 0;
}
.hide 
{
  display:none;
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}