.slick-group-title[level='0'] { font-weight: bold; }
.slick-group-title[level='1'] { text-decoration: underline; }
.slick-group-title[level='2'] { font-style: italic; }
.slick-header-columns {
    background: url("images/header-columns-bg.gif") repeat-x scroll center bottom transparent;
    border-bottom: 1px solid silver;
}
.slick-header-column {
    background: url("images/header-columns-bg.gif") repeat-x scroll center bottom transparent;
    border-right: 1px solid silver;
}
.slick-header-column:hover, .slick-header-column-active {
    background: url("images/header-columns-over-bg.gif") repeat-x scroll center bottom white;
}
.slick-headerrow {
    background: none repeat scroll 0 0 #FAFAFA;
}
.slick-headerrow-column {
    background: none repeat scroll 0 0 #FAFAFA;
    border-bottom: 0 none;
    height: 100%;
}
.slick-row.ui-state-active {
    background: none repeat scroll 0 0 #F5F7D7;
}
.slick-row {
    background: none repeat scroll 0 0 white;
    border: 0 none;
    line-height: 20px;
    position: absolute;
}
.slick-row.selected {
    background: none repeat scroll 0 0 #DFE8F6;
    z-index: 10;
}
.slick-cell {
    padding-left: 4px;
    padding-right: 4px;
}
.slick-group {
    border-bottom: 2px solid silver;
}
.slick-group-toggle {
    height: 13px;
    margin-right: 5px;
    width: 13px;
}
.slick-group-toggle.expanded {
    background: url("images/collapse.gif") no-repeat scroll center center transparent;
}
.slick-group-toggle.collapsed {
    background: url("images/expand.gif") no-repeat scroll center center transparent;
}
.slick-group-totals {
    background: none repeat scroll 0 0 white;
    color: gray;
}
.slick-cell.selected {
    background-color: beige;
}
.slick-cell.active {
    border-color: gray;
    border-style: solid;
}
.slick-sortable-placeholder {
    background: none repeat scroll 0 0 silver !important;
}
.slick-row.odd {
    background: none repeat scroll 0 0 #FAFAFA;
}
.slick-row.ui-state-active {
    background: none repeat scroll 0 0 #F5F7D7;
}
.slick-row.loading {
    opacity: 0.5;
}
.slick-cell.invalid {
    border-color: red;
}

/* Menu button */
.slick-header-menubutton {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 14px;
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
  display: none;
  border-left: thin ridge silver;
}
.slick-header-column:hover > .slick-header-menubutton,
.slick-header-column-active .slick-header-menubutton {
  display: inline-block;
}
/* Menu */
.slick-header-menu {
  position: absolute; display: inline-block; margin: 0; padding: 2px; cursor: default;
  background: none repeat scroll 0 0 #F0F0F0;
  border: 1px solid #718BB7; min-width: 100px; padding: 2px; z-index: 20;
}
/* Menu items */
.slick-header-menuitem {
  list-style: none; margin: 0; padding: 0; cursor: pointer;
  border: 1px solid transparent; border-radius: 3px 3px 3px 3px; padding: 2px 4px;
}
.slick-header-menuicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
}
.slick-header-menucontent {
  display: inline-block;
  vertical-align: middle;
}
/* Disabled */
.slick-header-menuitem-disabled {
  color: silver;
  background: inherit !important; border-color: transparent !important;
}
.slick-header-menuitem:hover {
  background: none repeat scroll 0 0 white; border-color: silver;
}