.LabelStyle
{
	font-size: 12px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  line-height: 1.4em;	
}

.ButtonStyle
{
	font-size: 12px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
}