.WarningDiv
{
	float:right;
	width:40%;
	color:Red;
}
.Bartitle
{
	padding:4px;
}
.prmptdiv
{
	padding-top:5px;
	padding-bottom:5px;
	width:330px;
}
#divSubApprvlInfo
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	width:expression(document.body.clientWidth);
	height:100%;
	height:expression(document.body.clientHeight);
	-moz-box-sizing:border-box;
}
#tblInput
{
	padding-bottom:6px;
}
#tblApprvlCnt
{
	width:100%;
}
#divCntnrApprvlInfo
{
	margin-left:2px;
}
#txtApprvlDecisionRemarks
{
	width:250px;
	height:180px;
}
#lbtnSetApprvlDecision
{
	width:110px;
	padding:3px;
	color:Black;
	display:block;
	text-decoration:none;
	text-align:center;
}