
.PageTitle
{
	padding-bottom:0px;
	padding-top:0px;
}
.FMIcon
{
	background-image:url(../../images/Sec/DocMgmtH.gif);
	background-repeat:no-repeat;
	padding-top:6px;
	padding-bottom:5px;
	padding-left:65px;
}

.selectedPath {
	border: solid 1px #999;
	padding:2px;
	background-color: #FFFFDD;
	color:#222;
}

.SearchDiv {
	background-color: #F0F5FF;
	/*border:1px solid #222222;*/
	border:1px solid #999999;
	/*padding:5px;*/
	background-image:url(../../images/iFM/SearchOptionsTop2.gif);
	background-repeat:repeat-x;
}

.SearchDiv .l {
	background-image:url(../../images/iFM/SearchOptionsTopL2.gif);
	background-repeat:no-repeat;
	width:100%;
	height:32px;
	padding-top:2px;
}

.SearchDiv .head {
	/*color:#F0F0F0;*/
	color:#222;
	font-weight:bold;
	padding-left:30px;
}

.SearchDiv .body {
	padding:10px;
	margin-top:15px;
}

.SearchDivGlow {
	border:1px solid #F4F4F4;
	background-color: #E1E1E1;
	padding-bottom:1px;
}

.SearchDiv .body TD{
	padding:5px 0px;
}

#txtFile {
	width:100%;
}

#txtSelPath {
	width:75%;
}

#txtLoginID {width:75%;}
#listAction {width:100%;}
#listOrderBy {width:65%;}
#listOrder {width:31%;}
#btnSearch {
	width:100px;
	height:25px;
}