body
{
	margin:0px;
	overflow:hidden;
	background-color:White;
}
#txtSummary 
{ 
	HEIGHT: 80px 
}
.picker TEXTAREA 
{ 
	WIDTH: 300px; 
	HEIGHT: 50px 
}
.fldlbl 
{ 
	VERTICAL-ALIGN: top; 
	WIDTH: 110px;
	padding-right:8px;
}
.fldval 
{
	VERTICAL-ALIGN: top; 
	padding-right:10px;
}
.TDAddFldErr 
{
	WIDTH: 5px;
}
#btnSave 
{
	WIDTH: 70px; 
	HEIGHT: 24px;
}
#btnBack 
{
	WIDTH: 70px; 
	HEIGHT: 24px;
}
#btnDel 
{
	WIDTH: 70px; 
	HEIGHT: 24px;
}
#btnNewAddField 
{
	MARGIN-TOP: 5px; 
	WIDTH: 120px;
}
#SubTabs 
{
	OVERFLOW: auto;
	margin-top:8px;
	border:solid 1px lightslategray;
	border-top:none;
	border-right:none;
	padding-bottom:8px;
}
TD.TDAlignTop
{
	VERTICAL-ALIGN: top; 
}
#TDRelFiles
{
}
#TDDefHTML
{
	padding-right:4px;
}
#ifrDefHTML
{
	/*width:99.4%;
	height:96.4%;
	border:none;
	padding:none;
	margin:0px;
	margin-left:5px;*/
		
	position: absolute;
   left: 0px;
   left:expression("0px");
   right: 0px;
   top:0px;
   bottom:5px;
   width: expression(document.body.clientWidth - 1);
   height:expression(document.body.clientHeight);
}
#divFiles
{
	width:180px;
	padding-left:2px;
}
#divViewRelCnt
{
	position:absolute;
	z-index:300;
	right:20px;
	top:30px;
	width:172px;
	width:expression("180px");
	padding:4px;
	/*background-image:url(../images/transtile.gif);*/
	background-color:White;
}
.FilesTitle
{
	display:block;
	text-decoration:underline;
	margin-bottom:2px;
}
#divCtrls
{
	position:absolute;
	z-index:300;
	top:2px;
	right:20px;
	width:700px;
	text-align:right;
}
#divNewVerPrompt
{
	position:absolute;
	z-index:300;
	top:2px;
	right:20px;
	width:400px;
	text-align:right;
}
#txtNewVerNo
{
	width:70px;
}
.ViewCtrls
{
	margin-left:2px;
	margin-right:2px;
	padding:2px;
	/*background-image:url(../images/transtile.gif);*/
	background-color:White;
}
.VCPrint
{
	border:solid 1px gainsboro;
}
UL.FileList
{
	margin-left:15px;
	margin-bottom:0px;
	margin-top:0px;
}
UL.InfoList
{
	margin-left:15px;
	margin-bottom:0px;
	margin-top:0px;
}
UL.InfoList LI
{
	margin-bottom:5px;
	color:Blue;
}