body
{
	margin:0px;
	padding:0px;
}
#pnlPaging
{
	border:none;
}
#griddiv
{
	overflow:auto;
	height:458px;
	padding-left:6px;	
	margin-top:6px;
}
.GSearchTitleLnk
{
	font-size:12px;
}
.GSearchDesc
{
	font-size:11px;
	padding-top:2px;
}
.CreatorName
{
	font-size:10px;
}
.CreatedDate
{
	
}
#ddlSortBy
{
	font-size:10px;
}
.PreviewImg
{
	height:30px;
	margin-right:6px;
	border:solid 1px gainsboro;
}
.ImgTag
{
	height:30px;
	padding-right:6px;
	padding-left:6px;
	font-style:italic;
}