#txtTitle, #txtKeywords, #txtSummary 
{
	WIDTH: 350px;
}
#txtSummary 
{
	HEIGHT: 45px;
}
#txtFileDetails
{
	width:350px;
	height:40px;
}
#fiAttachment
{
	width:350px;
}
.fldlbl 
{
	VERTICAL-ALIGN: top; 
	WIDTH: 70px;
	padding-top:5px;
	padding-right:5px;
}