#body
{
	margin:0px;
	padding:0px;
}
#divEditor
{
	position:absolute;
	top:0px;
	left:8px;
}
.Thumbnails
{
	position:absolute;
	top:0px;
	right:0px;
	width:180px;
	height:100%;
	border-left:solid 1px #676767;
}
#btnSave, #btnRevert
{
	width:70px;
	border:solid 1px #676767;
}