article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
a { color: #1c3f95; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
th {background-color:#f3f3f3; padding:10px; text-align:left;}
td { vertical-align: top; padding:10px; border-bottom:1px solid #f3f3f3; }
p {	color:#4a4a4a; font-size:13px; line-height:18px; }
p.message {	color:#4a4a4a; font-weight:bold; }

/* ==|== primary styles =====================================================
   Author: Audi Liew
   ========================================================================== */
body {
	background:url(../img/bg.jpg) #fff;
}
#branding {
	padding-top:17px;
	margin-left:10px;
}
#container {
	background-color:#FFF;
	margin:0 auto;
	width:978px;
	padding:0 22px;
}
#logo {
	display:inline;
	float:left;
	margin-left:20px;
	width:168px;
}
#drugstorelogo {
	display:inline;
	float:left;
	width:185px;
}
#mainNav {
	background:url(../img/mainnav-bg.jpg) no-repeat;
	height:37px;
	margin-top:20px;
	margin-bottom:23px;
	margin-left:10px;
	width:978px;
}
	html.ie7 #mainNav {
		margin-top:20px;
	}
#mainNav #catsNav {
	display:inline-block;
	float:left;
	margin-left:8px; /* for left corner */
	width:664px;
}
#mainNav #catsNav ul {
	font-size:15px;
	list-style:none;
	margin:0;
	padding:0;
}

#mainNav #catsNav ul {
	display: table;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

#mainNav #catsNav ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: table-cell;
	float: left;
	position: relative;
}
#mainNav #catsNav ul a {
	position: relative;
	display: block;
	background:url(../img/catsNavItem-bg.jpg) no-repeat right;
	color:#FFF;
	display:inline-block;
	height:37px;
	text-decoration:none;
	line-height:37px;
	padding:0 15px;
}
#mainNav #catsNav ul a:hover, #mainNav #catsNav li.current-menu-item a {
	background:url(../img/catsNavItem-hover-bg.jpg) no-repeat right;
}
#logoutLink {
	display:inline;
	float:right;
	line-height:37px;
	padding-right:15px;
}
	#logoutLink a {
		color:#FFFFFF;
		text-decoration:none;
	}
	#logoutLink a:hover {
		text-decoration:underline;
	}
#main {
	background:url(../img/main-top-bg.jpg) no-repeat;

	padding-top:18px; /* height of main-top-bg.jpg */
	width:998px;
}
	#content-container {
		background:url(../img/main-bg.jpg);
		padding-top:20px;
		width:998px;
	}
	#maincontentend {
		background:url(../img/main-bot-bg.jpg) no-repeat;
		height:28px;
		width:998px;
	}
	body.normalpage #main {
		background:url(../img/norm-main-top-bg.jpg) no-repeat;
	}
	body.normalpage #content-container {
		background:url(../img/norm-main-bg.jpg);
	}
	body.normalpage #maincontentend {
		background:url(../img/norm-main-bot-bg.jpg) no-repeat;
	}
	body.normalpage #maincontent {
		display:inline;
		float:left;
		padding-left:40px;
		padding-right:40px;
		width:898px; /* 682 */
	}
	body.normalpage #maincontent h1 {
		color:#000000;
		font-size:22px;
		font-weight:normal;
		margin:0;
	}
	#sidebar {
		display:inline;
		position:relative;
		float:left;
		padding-left:35px;
		padding-right:24px;
		padding-bottom:10px;
		width:257px; /* 316 */
	}
		#sidebar h2 {
			color:#2a3b8d;
			font-size:24px;
			font-weight:normal;
			line-height:30px;
			margin:0;
		}
		#sidebar #sidebarimg {
			background:url(../img/sidebar-img.jpg) no-repeat;
			bottom:-21px;
			left:10px;
			height:210px;
			position:absolute;
			width:259px;
		}
	#maincontent {
		display:inline;
		float:left;
		padding-left:30px;
		padding-right:40px;
		width:612px; /* 682 */
	}
		#maincontent h1 {
			color:#516c8a;
			font-size:14px;
			margin-top:25px;
		}
		#maincontent div.hr {
			background:url(../img/hr-bg.jpg) repeat-x;
			background-color:transparent;
			border-top:none;
			border:none;
			height:10px;
			margin:30px 0;
			padding:0;
		}
		#maincontent span.homePromoAds {
			display:inline;
			float:left;
			margin-right:17px;
		}
#copyright {
	display:inline;
	float:left;
	margin-left:10px;
	width:642px;
}
#mainFooter {
	color:#3c5487; /* bluish purple */
	padding-bottom:25px;
}
	#mainFooter p {
		margin:10px 0 5px;
	}
	#mainFooter address {
		color:#596d99; /* light bluish purple */
		display:inline;
		font-style:normal;
	}
#footerLinks {
	display:inline;
	float:right;
	text-align:right;
	width:306px;
}
	html.ie7 #footerLinks {
		margin-top:10px;
	}
	#footerLinks ul {
		float:right;
		list-style:none;
		margin:0;
		padding:0;
	}
		#footerLinks li {
			border-right:1px solid #bacbeb;
			display:inline;
			float:left;
			padding:0 10px;
		}
			#footerLinks li.last-child {
				border-right:none;
			}
#facebook {
	display:inline;
	float:right;
}
/* ==|== For Login page ======================================== */
/*
 * The login page will have the class loginpage in the body tag
 */
body.loginpage #main, body.forgotpage #main {
	background:url(../img/login-bg.jpg) no-repeat;
	height:308px; /* 378 */
	margin-top:10px;
	padding-left:347px;
	padding-top:70px;
	width:641px; /* 998 */
}
	body.forgotpage #main {
		background:url(../img/forgotpw-bg.jpg) no-repeat;
	}
body.loginpage #maincontent, body.forgotpage #maincontent {
	padding-left:0;
	padding-right:0;
	width:295px;
}
body.loginpage #maincontent h1, body.forgotpage #maincontent h1 {
	color:#000000;
	font-size:24px;
	font-weight:normal;
	margin:0;
}
	#homeBenefits {
		display:inline;
		float:left;
		margin-left:65px;
		width:215px;
	}
		#homeBenefits h2 {
			font-size:19px;
			font-weight:normal;
			margin-bottom:10px;
			margin-top:25px;
			padding:0;
		}
		#homeBenefits p {
			margin-top:10px;;
		}
input {
	border:3px solid #e3eaf7;
	padding:3px 7px;
	width:263px;
	outline:#d0dcef;
}
input.submitButton, .loginButton {
	border:none;
	padding:0;
	width:78px;
}
	.loginButton {
		background:url(../img/buttonLogin.png) no-repeat;
		height:34px;
		text-indent:-9999px;
		outline:none;
		/* IE hack */
		text-transform:capitalize;
	}
		.loginButton:hover {
			background:url(../img/buttonLogin.png) no-repeat -78px;
		}
		.loginButton:active {
			background:url(../img/buttonLogin.png) no-repeat -156px;
		}
.loginLink { 
	display:inline;
	float:right;
	font-size:11px;
}

/* ==|== For Registration page ======================================== */
/*
 * The Signup/Registration page will have the class registerpage in the body tag
 */
body.registerpage #main {
	background:url(../img/register2-bg.jpg) no-repeat;
	height:613px; /* 378 */
	margin-top:10px;
	padding-left:253px;
	padding-top:70px;
	width:745px; /* 998 */
}
body.registerpage #maincontent {
	padding-left:0;
	padding-right:0;
	width:505px;
}
body.registerpage #maincontent h1 {
	color:#000000;
	font-size:24px;
	font-weight:normal;
	margin:0;
}
form#formSignup input {
	border:3px solid #e3eaf7;
	padding:3px 6px;
	width:192px;
	outline:#d0dcef;
}
	html.oldie form#formSignup input {
		padding:3px 6px;
	}
	html.ie7 form#formSignup input {
		padding:3px 6px;
	}
	form#formSignup select {
		border:3px solid #e3eaf7;
		padding:3px 5px;
		outline:#d0dcef;
	}
form#formSignup .registerButton {
	border:none;
	background:url(../img/buttonRegister.png) no-repeat;
	padding:0;
	height:34px;
	margin-left:132px;
	margin-top:10px;
	width:98px;
	outline:none;
	/* IE hack */
	font-size:0px;
	line-height:100px;
	overflow:hidden;
	text-transform:capitalize;
}
	form#formSignup .registerButton:hover {
		background:url(../img/buttonRegister.png) no-repeat -98px;
	}
	form#formSignup .registerButton:active {
		background:url(../img/buttonRegister.png) no-repeat -196px;
	}
form#formSignup .updateButton {
	border:none;
	background:url(../img/buttonUpdate.png) no-repeat;
	padding:0;
	height:34px;
	margin-left:132px;
	margin-top:10px;
	width:88px;
	outline:none;
	/* IE hack */
	font-size:0px;
	line-height:100px;
	overflow:hidden;
	text-transform:capitalize;
}
	form#formSignup .updateButton:hover {
		background:url(../img/buttonUpdate.png) no-repeat -88px;
	}
	form#formSignup .updateButton:active {
		background:url(../img/buttonUpdate.png) no-repeat -176px;
	}
form#formSignup p { 
	margin-bottom:-5px;
}
form#formSignup legend {
	color:#516c8a; /* blue */
	font-weight:bold;
	font-size:14px;
	padding:15px 0;
}
	html.oldie form#formSignup legend {
		padding:15px 0 0;
		margin:10px 0 -5px -7px;
	}
	html.ie7 form#formSignup legend {
		padding:5px 0 0;
		margin:0 0 -5px -7px;
	}
	
form#formSignup label {
	display:inline-block; 
	width:131px;
}
	form#formSignup label.required {
		color:#333333;
		font-weight:bold;
	}
	form#formSignup span.formNotes {
		color:#9999ff;
		font-size:12px;
		font-style:italic;
		margin-left:10px;
	}

/* ==|== For Forget password page ======================================== */
#formForget .submitButton {
	border:none;
	background:url(../img/buttonSubmit.png) no-repeat;
	padding:0;
	height:34px;
	width:88px;
	outline:none;
	/* IE hack */
	font-size:0px;
	line-height:100px;
	overflow:hidden;
	text-transform:capitalize;
}
	#formForget .submitButton:hover {
		background:url(../img/buttonSubmit.png) no-repeat -88px;
	}
	#formForget .submitButton:active {
		background:url(../img/buttonSubmit.png) no-repeat -176px;
	}
/* ==|== non-semantic helper classes ======================================== */
.floatRight { display:inline; float:right; }
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
