/* Main Menu Icons */

.ProfileIcon { background-image: url(../../images/Sec/new/ProfileIcon_faded.png); }
.curlink .ProfileIcon, a:hover.link .ProfileIcon { background-image: url(../../images/Sec/new/ProfileIcon.png); }

.FinIcon { background-image: url(../../images/Sec/new/BizRecIcon_faded.png); }
.curlink .FinIcon, a:hover.link .FinIcon { background-image: url(../../images/Sec/new/BizRecIcon.png); }

.AsmIcon { background-image: url(../../images/Sec/new/AsmIcon_faded.png); }
.curlink .AsmIcon, a:hover.link .AsmIcon { background-image: url(../../images/Sec/new/AsmIcon.png); }

.CtcIcon { background-image: url(../../images/Sec/new/ContactsIcon_faded.png); }
.curlink .CtcIcon, a:hover.link .CtcIcon { background-image: url(../../images/Sec/new/ContactsIcon.png); }

.CommsIcon { background-image: url(../../images/Sec/new/CommsIcon_faded.png); }
.curlink .CommsIcon, a:hover.link .CommsIcon { background-image: url(../../images/Sec/new/CommsIcon.png); }

.ProjIcon { background-image: url(../../images/Sec/new/ProjectsIcon_faded.png); }
.curlink .ProjIcon, a:hover.link .ProjIcon { background-image: url(../../images/Sec/new/ProjectsIcon.png); }

.SalesIcon { background-image: url(../../images/Sec/new/SalesIcon_faded.png); }
.curlink .SalesIcon, a:hover.link .SalesIcon { background-image: url(../../images/Sec/new/SalesIcon.png); }

.SetupIcon { background-image: url(../../images/Sec/new/SettingsIcon_faded.png); }
.curlink .SetupIcon, a:hover.link .SetupIcon { background-image: url(../../images/Sec/new/SettingsIcon.png); }

.KBIcon { background-image: url(../../images/Sec/new/KBIcon_faded.png); }
.curlink .KBIcon, a:hover.link .KBIcon { background-image: url(../../images/Sec/new/KBIcon.png); }

.DMIcon { background-image: url(../../images/Sec/new/FMIcon_faded.png); }
.curlink .DMIcon, a:hover.link .DMIcon { background-image: url(../../images/Sec/new/FMIcon.png); }

.ForumIcon { background-image: url(../../images/Sec/new/ForumsIcon_faded.png); }
.curlink .ForumIcon, a:hover.link .ForumIcon { background-image: url(../../images/Sec/new/ForumsIcon.png); }

.RptIcon { background-image: url(../../images/Sec/new/reports_faded.png); }
.curlink .RptIcon, a:hover.link .RptIcon { background-image: url(../../images/Sec/new/reports.png); }

.DesktopIcon { background-image: url(../../images/Sec/new/DesktopIcon_faded.png); }
.curlink .DesktopIcon, a:hover.link .DesktopIcon { background-image: url(../../images/Sec/new/DesktopIcon.png); }

.FAMIcon { background-image: url(../../images/Sec/new/FAMgt_faded.png); }
.curlink .FAMIcon, a:hover.link .FAMIcon { background-image: url(../../images/Sec/new/FAMgt.png); }

.MilestonesIcon { background-image: url(../../images/Sec/new/msIcon40x40_blur.png); }
.curlink .MilestonesIcon, a:hover.link .MilestonesIcon { background-image: url(../../images/Sec/new/msIcon40x40.png); }

.PledgeAndCollectionIcon { background-image: url(../../images/Sec/new/PledgeAndCollection_faded.png); }
.curlink .PledgeAndCollectionIcon, a:hover.link .PledgeAndCollectionIcon { background-image: url(../../images/Sec/new/PledgeAndCollection.png); }

.InvIcon { background-image: url(../../images/Sec/new/InventIcon_faded.png); }
.curlink .InvIcon, a:hover.link .InvIcon { background-image: url(../../images/Sec/new/InventIcon.png); }

.HRIcon { background-image: url(../../images/Sec/new/HRIcon_Faded.png); }
.curlink .HRIcon, a:hover.link .HRIcon { background-image: url(../../images/Sec/new/HRIcon.png); }

/* Hi ~ just to make sure this is checking in ~ */

/* Sub Menu Icons */
.DefaultHome { background-image: url(../../images/Sec/new/subicons/house.png); }
.MyDesktopMyCalendar { background-image: url(../../images/Sec/new/subicons/calendar.png); }
.MyDesktopTimesheet { background-image: url(../../images/Sec/new/subicons/clock.png); }
.MyDesktopChangeMyPassword { background-image: url(../../images/Sec/new/subicons/password.png); }


