* { /*-moz-box-sizing:border-box;*//*BLESS MY TEN TOES!!! IT WORKS!!! */
}
body {
	font-size:9pt;
	font-family: arial, verdana, helvetica;
	height:100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden; /*background-image:url(../../images/Sec/navbg.gif);*/
}
.Menu {
	background-color: #EFF2F3;
	background-image: url(../../images/Sec/new/menu_bg.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 0px 10px;
	top: 0px;
	width: expression(document.body.clientWidth); 
	-moz-box-sizing:border-box;
}
/*
a.logout {
	position: absolute;
	right: 5px;
	top: 23px;
	display: block;
	font-family: Verdana, Arial;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #676767;
	z-index: 201;
}
*/
a:hover.logout {
	color: orange;
	text-decoration: underline;
}

/* Account Box */

#accountbox {
  float:right;
  background: url("../../images/sec/new/menu_div.gif") no-repeat;
  padding:10px 10px 0px 15px;
  color: #222222;
  text-align:right;
}

DIV.logout, DIV.login {
  display:inline-block;
  width: 65px;
  height: 19px;
  margin: 5px 0px 0px 0px;
  padding: 0;
  border: 0;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

DIV.logout A, DIV.login A{
  display:block;
  width:100%;
  height:100%;
  text-decoration: none;
}

DIV.logout {
  background: transparent url("../../images/sec/new/btnLogout.gif") no-repeat center top;
}

DIV.login {
  background: transparent url("../../images/sec/new/btnLogin.gif") no-repeat center top;
}

/* Main Links */
.Icon {
	height: 41px;
	width: 40px;
	font-size: 1px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

.Menu, #LinksContainer, .LinksBar, .linkcrvL, .linkcrvR, .linktxt, .MorelinksL, .MorelinksR{
	height: 61px;
}

#LinksContainer {
	/*need this to cover the scroll bar for linksBar. Reason: NS returns the actual
	  width of the element for element.scrollWidth if there are no scroll bars*/
	/*
	position: absolute;
	left: 212px;
	top: 0px;*/
	
	white-space: nowrap; /*understood only by Moz */
	nowrap: true;
	overflow: hidden;
	z-index: 190;
	padding:0px;
	margin:0px;
	text-align:right;
	float:right;
}

.LinksBar {
	padding: 0px 9px 0px 17px;
	padding-left: expression( "11px" );
	overflow: hidden; /*width:expression(document.body.clientWidth - 210 - 80);*/
	height: expression( '100px' ); /*must be > linksContainer's - see #LinksContainer*/
	white-space: nowrap; /*understood only by Moz */
	nowrap: true;
}
.link, .curlink {
	display: inline-block;
	color: #676767;
	margin-left: -11px;
	margin-left: expression( "-11px" ); /* Due to the earth's polluted atmosphere and display: table-cell being handled differently by IE and FF.... */ 
	/*margin-right:expression("-5px");*/
	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
}

.curlink {
	font-weight: bold;
}

.curlink {
	color: White;
	color: orange;
}
a:hover.link {
	/*color: orange;*/
	color:#111111;
	filter: none;
}
.linktxt {
	display: table-cell;
	/*padding: 5px 15px 5px 15px;*/
	padding: 0px 15px 5px 15px;
	padding-left: expression( "5px" );
	padding-right: expression( "5px" );
	text-align: center;
	white-space: nowrap; /*understood only by Moz */
	cursor: hand;
	filter: progid:DXImageTransform.Microsoft.BasicImage( Rotation=0,Mirror=0,Invert=0,XRay=0,Grayscale=1,Opacity=1.00);
}

.linkcrvL {
	/*display: table-cell;*/
	/*padding-right: 8px;*/
	padding: 0px;
	margin: 0px;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-image: none;
}
.linkcrvR {
	/*display: table-cell;*/
	/*padding-right: 8px;*/
	padding: 0px;
	margin: 0px;
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-image: none;
}

.curlink .linktxt {filter: none;}
.curlink .linkcrvL {background-image: url(../../images/Sec/new/menu_active_right.gif);}
.curlink .linkcrvR {background-image: url(../../images/Sec/new/menu_active_left.gif);}

/* End of MainLinks */

/* SubLinks */

.SubIcon {
	height: 16px;
	width: 16px;
	font-size: 1px;
	margin: -1px 4px 0px 0px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	float:left;
}

.SubLinksBar {
  /*
	background-color: #EFF2F3;
	background-image: url(../../images/Sec/new/sub_menu_bg.gif);
	background-repeat: repeat-x; *//*border-bottom:solid 2px #AFB8DE;*/
	/*z-index: 200;
	text-align: center;
	*/
	
	display:block;
	padding-top:8px;
	background:#DAE0D2 url("../../images/sec/new/sub_menu_bg.gif") repeat-x bottom;
	clear:both;
	width:100%;
}
.SubLinkTLCrv {
	padding-left: 9px; /*background-repeat:no-repeat; 		background-position: 0% 0%; 		background-image:url(../../images/Sec/curve1ws.gif);*/
}
.SubLinkTRCrv {
	padding-right: 9px; /*background-repeat:no-repeat; 		background-position: 100% 0%; 		background-image:url(../../images/Sec/curve2ws.gif);*/
}
.SubLinkTbl {
	/*margin-left: auto;
	margin-right: auto;*/
}
.SubLink {
	font-family: Arial, Verdana;
	text-align: center;
	font-size: 12px;
	/*line-height: 25px;*/
	padding: 2px 6px 2px 6px;
	/*margin: 2px 0px 2px 0px;*/
	text-decoration: none;
	color: white;
	color: black;
	white-space: nowrap;
	/*border-left: solid 1px gainsboro;*/
}
SPAN.SubLink {
	border: none;
}
a:hover.Sublink, .curSublink {
	/*background-image:url(images/grad3.gif);*/
	/*margin-top: 2px;*/
	text-decoration: none;
	color: orange;
}

/* Submenu Tabs */

.submenu {
  float:right;
  /*width:100%;*/
  line-height:normal;
}

.submenu ul {
  margin:0;
  padding:0;
  list-style:none;
}

.submenu li {
  float:left;
  margin:0;
  padding:0;
}

.submenu a {
  display:block;
  text-decoration:none;
}

/* Sub menu specific styles */

.submenu {
  /*background:#DAE0D2 url("../images/sec/new/sub_menu_bg.gif") repeat-x bottom;*/
  font-size:8pt;
}

.SubLinksBar, .submenu ul, .submenu ul li, .submenu ul li a {
  height:22px;  
}

.submenu ul li a {
  padding:4px 15px 0px 15px;
}

.submenu li.curlink {
  float:left;
  background:url("../../images/sec/new/sub_menu_right.gif") no-repeat right top;
  margin:0;
  /*padding:0px;*/
  /*padding-bottom:3px;*/
}

.submenu li.curlink a {
  display:block;
  background:url("../../images/sec/new/sub_menu_left.gif") no-repeat left top;
  
}

/* End of SubLinks */

/* Content */
#Content {
	width: 100%;
	height: 100%;
	/*border: solid 3px #E0E0E0;*/
	border: 0px;
/*
	margin-top: -15px;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
*/
}
/* End Of Content */

/* Scroll */
.MorelinksR {
	position: absolute;
	top: 0px;
	right: 150px;
	width: 16px;
	/*padding-top: 22px;*/ 
	/*border-left:solid 1px whitesmoke;
 	background-color:white;
	background-repeat:no-repeat;
	background-position: -2px 0%;
	background-image:url(../../images/Sec/fadeR.gif);*/
	background-repeat: no-repeat;
	background-position: 50% 70%;
	background-image: url(../../images/Sec/PtrR.gif);
	z-index: 200;
}
.MorelinksR DIV {
	height: 100%;
	width: 100%;
	margin-left: 3px;
}
.MorelinksL {
	position: absolute;
	top: 0px;
	left: 187px;
	width: 60px;
	/*padding-top: 22px; */
	/*border-right:solid 1px whitesmoke;
 	background-repeat:no-repeat;
 	background-position: 2px 0%;
 	background-image:url(../../images/Sec/fadeL.gif);*/
	background-repeat: no-repeat;
	background-position: 70% 70%;
	background-image: url(../../images/Sec/PtrL.gif);
	z-index: 200;
}
.MorelinksL DIV {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px auto 0px auto;
}
/* End Of Scroll */


/* Footer styles */

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:18px;
   background:#d186d1;
   padding: 7px 0px 7px 0px;
   color:White;
   font-size:8pt;
}

#footer .lt {
  width:70%;
  float:left;
  padding:0px 0px 0px 8px;
}

#footer .rt {
  width:15%;
  float:right;
  text-align:right;
  padding:0px 8px 0px 0px;
}

.bizcubelogosmall {
	/*padding: 5px 5px 5px 5px;*/
	z-index: 202;
	vertical-align:text-top;
}