	*
	{
		-moz-box-sizing: border-box; /*BLESS MY TEN TOES!!! IT WORKS!!! */
	}
	body
	{
		margin:0px;
		padding:0px;
		overflow:hidden;
		/*background-image:url(../../images/Sec/navbg.gif);*/
	}
	.Menu
	{
		background-color:#EFF2F3;
		background-image:url(../../images/Sec/menubgtile.gif);
		background-repeat:repeat-x;
		padding:12px;
		padding-left:25px;
		padding-bottom:6px;
		height:70px;
		top:0px;
		width:expression(document.body.clientWidth);
		-moz-box-sizing: border-box;
	}
	.CurveContentContainer
	{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		position:expression("static");
		height:expression(document.body.clientHeight);
		width:expression(document.body.clientWidth);
		z-index:100;
		-moz-box-sizing: border-box;
	}
	.bizcubelogosmall
	{
		position:absolute;
		right:5px;
		top:5px;
		z-index:202;
	}
	a.logout
	{
		position:absolute;
		right:5px;
		top:23px;
		display:block;
		font-family:Verdana, Arial;
		font-size:11px;
		font-weight:bold;
		text-decoration:none;
		color:#676767;
		z-index:201;
	}
	a:hover.logout
	{
		color:orange;
		text-decoration:underline;
	}
/* Main Links */
	.Icon
	{
		height:45px;
		font-size:1px;
		margin-left:auto;
		margin-right:auto;
		background-repeat:no-repeat;
		background-position: 50% 0%;
	}
	.FinIcon
	{
		background-image:url(../../images/Sec/finance.gif);
		width:50px;
	}
	.curlink .FinIcon, a:hover.link .FinIcon
	{
		/*background-image:url(../../images/Sec/finance.gif);*/
	}
	.CtcIcon
	{
		background-image:url(../../images/Sec/contact.gif);
		width:50px;
	}
	.curlink .CtcIcon, a:hover.link .CtcIcon
	{
		/*background-image:url(../../images/Sec/contact.gif);*/
	}
	.CommsIcon
	{
		background-image:url(../../images/Sec/comms.gif);
		width:60px;
	}
	.curlink .CommsIcon, a:hover.link .CommsIcon
	{
		/*background-image:url(../../images/Sec/comms.gif);*/
	}
	.ProjIcon
	{
		background-image:url(../../images/Sec/project.gif);
		width:50px;
	}
	.curlink .ProjIcon, a:hover.link .ProjIcon
	{
		/*background-image:url(../../images/Sec/project.gif);*/
	}
	.SalesIcon
	{
		background-image:url(../../images/Sec/Sales.gif);
		width:50px;
	}
	.curlink .SalesIcon, a:hover.link .SalesIcon
	{
		/*background-image:url(../../images/Sec/Sales.gif);*/
	}
	.SetupIcon
	{
		background-image:url(../../images/Sec/setup.gif);
		width:50px;
	}
	.curlink .SetupIcon, a:hover.link .SetupIcon
	{
		/*background-image:url(../../images/Sec/setup.gif);*/
	}
	.KBIcon
	{
		background-image:url(../../images/Sec/knowledge.gif);
		width:50px;
	}
	.DMIcon
	{
		background-image:url(../../images/Sec/docmgmt.gif);
		width:50px;
	}
	.ForumIcon
	{
		background-image:url(../../images/Sec/iforum.gif);
		width:50px;
	}
	.curlink .KBIcon, a:hover.link .KBIcon
	{
		/*background-image:url(../../images/Sec/knowledge.gif);*/
	}
	.RptIcon
	{
		background-image:url(../../images/Sec/reports.gif);
		width:60px;
	}
	.curlink .RptIcon, a:hover.link .RptIcon
	{
		/*background-image:url(../../images/Sec/reports.gif);*/
	}
	.DesktopIcon
	{
		background-image:url(../../images/Sec/Desktop.gif);
		width:60px;
	}
	.curlink .DesktopIcon, a:hover.link .DesktopIcon
	{
		/*background-image:url(../../images/Sec/Desktop.gif);*/
	}
	.LinksBar
	{
		
		padding-left:17px;
		padding-left:expression("11px");
		padding-right:9px;
		overflow:hidden;
		/*width:expression(document.body.clientWidth - 210 - 80);*/
		height:94px;
		height:expression('100px'); /*must be > linksContainer's - see #LinksContainer*/
		white-space:nowrap; /*understood only by Moz */
		nowrap:true;
	}
	#LinksContainer
	{
		/*need this to cover the scroll bar for linksBar. Reason: NS returns the actual
		  width of the element for element.scrollWidth if there are no scroll bars*/
		position:absolute;
		left:212px;
		top:5px;
		white-space:nowrap; /*understood only by Moz */
		nowrap:true;
		height:73px;
		overflow:hidden;
		z-index:190;
	}
	.link, .curlink
	{
		display:inline-block;
		color:#676767;
		margin-left:-11px;
		margin-left:expression("-11px"); /* Due to the earth's polluted atmosphere and display: table-cell being handled differently by IE and FF.... */
		/*margin-right:expression("-5px");*/
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		height:80px;
		text-decoration:none;
	}
	.curlink
	{
		color:White;
		color:orange;
	}
	a:hover.link
	{
		color:orange;
		filter:none;
	}
	.linktxt
	{
		display:table-cell;
		padding-top:1px;
		padding-bottom:5px;
		padding-left:3px;
		padding-right:4px;
		padding-left:expression("5px");
		padding-right:expression("5px");
		text-align:center;
		white-space:nowrap; /*understood only by Moz */
		cursor:hand;
		filter:progid:DXImageTransform.Microsoft.BasicImage( Rotation=0,Mirror=0,Invert=0,XRay=0,Grayscale=1,Opacity=1.00);
	}
	.linkcrvL
	{	
		display:table-cell;
		padding-left:8px;
		background-repeat:no-repeat;
		background-position: 0% 100%;
		background-image:url(../../images/Sec/mainmenuitemld.gif);	
	}
	.linkcrvR
	{
		display:table-cell;
		padding-right:8px;
		background-repeat:no-repeat;
		background-position: 100% 100%;
		background-image:url(../../images/Sec/mainmenuitemrd.gif);
	}
	.curlink .linktxt
	{
		background-repeat:repeat-x;
		background-position: 0% 100%;
		background-image:url(../../images/Sec/menubg.gif);
		filter:none;
	}
	.curlink .linkcrvL
	{
		background-image:url(../../images/Sec/mainmenuiteml.gif);
	}
	.curlink .linkcrvR
	{
		background-image:url(../../images/Sec/mainmenuitemr.gif);
	}
/* End of MainLinks */

/* SubLinks */
	.SubLinksBar
	{
		background-color:#EFF2F3;
		background-image:url(../../images/Sec/submenubg.gif);
		background-repeat:repeat-x;
		/*border-bottom:solid 2px #AFB8DE;*/
		z-index:200;
		text-align:center;
	}
	.SubLinkTLCrv
	{
		padding-left:9px;
		/*background-repeat:no-repeat;
		background-position: 0% 0%;
		background-image:url(../../images/Sec/curve1ws.gif);*/
	}
	.SubLinkTRCrv
	{
		padding-right:9px;
		/*background-repeat:no-repeat;
		background-position: 100% 0%;
		background-image:url(../../images/Sec/curve2ws.gif);*/
	}
	.SubLinkTbl
	{
		margin-left:auto;
		margin-right:auto;
	}
	.subLinkTbl TD
	{
		vertical-align:middle;
		padding-left:2px;
	}
	.SubLink
	{
		font-family:Arial, Verdana;
		text-align:center;
		font-size: 12px;
		line-height:25px;
		padding:2px;
		padding-left:6px;
		padding-right:6px;
		margin-left:0px;
		margin-bottom:2px;
		margin-top:2px;
		text-decoration:none;
		color:white;
		color:black;
		white-space:nowrap;
		border-left:solid 1px gainsboro;
	}
	SPAN.SubLink
	{
		border:none;
	}
	a:hover.Sublink, .curSublink
	{
		/*background-image:url(images/grad3.gif);*/
		margin-top:2px;
		text-decoration:none;
		color:orange;
	}
	.curSublink
	{
		font-weight:bold;
		color:Black;
	}

/* End of SubLinks */

/* Content */
	.TLCrv
	{
		position:relative;
		top:0px;
		top:expression("3px");
		padding-left:10px;
		background-repeat:no-repeat;
		background-position: 0% 0%;
		background-image:url(../../images/Sec/curve1s.gif);
		background-color:none;
		/*border-left:solid 5px #0051c8;*/
		height:16px;
		width:17px;
		z-index:210;
	}
	.TRCrv
	{
		position:relative;
		top:0px;
		top:expression("3px");
		right:-2px;
		right:expression("0px");
		float:right;
		/*border-right:solid 5px #0051c8;*/
		padding-right:10px;
		background-repeat:no-repeat;
		background-position: 100% 0%;
		background-image:url(../../images/Sec/curve2s.gif);
		background-color:none;
		height:16px;
		width:10px;
		z-index:210;
	}
	.BLCrv
	{
		position:relative;
		top:-16px;
		height:30px;
		width:10px;
		padding-left:9px;
		background-repeat:no-repeat;
		background-position: 0% 0%;
		background-image:url(../../images/Sec/curve3s.gif);
		z-index:190;
	}
	.BRCrv
	{
		/*border-right:solid 5px #0051c8;*/
		position:absolute;
		bottom:23px;
		bottom:expression("17px");
		right:expression("25px");
		right:23px;
		padding-right:9px;
		background-repeat:no-repeat;
		background-position: 100% 0%;
		background-image:url(../../images/Sec/curve4s.gif);
		height:17px;
		width:9px;
		z-index:190;
	}
	.BShde
	{
		position:relative;
		top:-16px;
		width:100%;
		height:30px;
		padding-bottom:1px;
		/*background-repeat:repeat-x;
		background-position: 0% 100%;
		background-image:url(../../images/Sec/shde.gif);*/
		z-index:190;
	}
	#Content
	{
		width:100%;
		height:100%;
		border:solid 3px #E0E0E0;
		margin-top:-15px;
		margin-left:1px;
		margin-right:1px;
		margin-bottom:1px;
	}
	.ContentTD
	{	
		padding-top:10px;
		padding-top:expression('0px');
		padding-left:25px; 
		padding-right:25px; 
		padding-bottom:16px;
		padding-bottom:expression('25px');
		background-color:#EFF2F3;
	}
	.ContentLDiv
	{
		margin-top:-15px;
		margin-left:1px;
		margin-right:1px;
		width:100%;
		height:100%;
		/*background-image:url(../../images/Sec/contentL.gif);*/
		background-repeat:repeat-y;
		background-position: 0% 0%;
		z-index:100;
		/*border-left:solid 4px #0051c8;
		border-right:solid 4px #0051c8;*/
	}
	.ContentRDiv
	{
		/*background-image:url(../../images/Sec/contentR.gif);*/
		background-repeat:repeat-y;
		background-position: 100% 0%;
		height:100%;
	}
	.ContentTDiv
	{
		padding-top:3px;
		height:100%;
		background-repeat:repeat-x;
		/*background-image:url(../../images/Sec/contentT.gif);*/
		background-position: 0% 0;
	}
	.ContentBDiv
	{
		height:100%;
		background-repeat:repeat-x;
		/*background-image:url(../../images/Sec/contentB.gif);*/
		background-position: 0% 100%;
		background-color:pink;
	}
/* End Of Content */

/* Scroll */
	.MorelinksR
	{
		position:absolute;
		top:15px;
		right:60px;
		width:16px;
		height:50px;
		padding-top:22px;
		/*border-left:solid 1px whitesmoke;
		background-color:white;
		background-repeat:no-repeat;
		background-position: -2px 0%;
		background-image:url(../../images/Sec/fadeR.gif);*/
		z-index:200;
	}
	.MorelinksR DIV
	{
		height:30px;
		width:13px;
		margin-left:3px;
		background-repeat:no-repeat;
		background-position: 0% 50%;
		background-image:url(../../images/Sec/PtrR.gif);	
	}
	.MorelinksL
	{
		position:absolute;
		top:15px;
		left:197px;
		width:15px;
		height:50px;
		padding-top:22px;
		/*border-right:solid 1px whitesmoke;
		background-repeat:no-repeat;
		background-position: 2px 0%;
		background-image:url(../../images/Sec/fadeL.gif);*/
		z-index:200;
	}
	.MorelinksL DIV
	{	
		height:30px;
		width:11px;
		margin-right:3px;
		background-repeat:no-repeat;
		background-position: 0% 50%;
		background-image:url(../../images/Sec/PtrL.gif);
	}
/* End Of Scroll */