.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
div.tiles{
    /* background-color:black; */
    padding:0px;
}
div.tiles div{
    border-radius:2px;
    padding:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:5px;
    color:white;
    background-color:#666;
    display:marker;
    cursor:pointer;
    float:left;
    width:150px;
    height:120px;
}
div.tiles div:hover{
    transition:background-color 1s;
    -moz-transition:background-color 1s;
    -webkit-transition:background-color 1s;
    background-color:#060;
    -moz-transform:rotate(-5deg);
}
div.tiles div.icon{
    position:relative;
    bottom:0px;
    left:0px;
    z-index:10;
}
