/* Default CSS Stylesheet for a new Web Application project */

Body.LoginPage
{
	background-image:none;
	padding:0px;
	margin:0px;
	background-color:white;
	overflow:hidden;
}
Body.Menu
{
	background-image:none;
}

TABLE
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

TH
{
	font-weight: bold;
}

TD
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

input
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
}

label
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
}

textarea
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
}

select
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
}

IMG
{
	border:none;
}

.Success
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	color:Blue;
}

.Fail
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	color:red;
}

.Instruction
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#556677;
}

.InstructionBold
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:700;
	color:#556677;
}
/* SecGrpPermissions */
#rbView label
{
	font-size:11px;
}
#btnRefresh
{
	width:104px;
	font-size:11px;
	float:right;
	margin-top:4px;
}
/* dgTable override */
.dgTable TD
{
	padding:4px;
}
/* paging override */
.divPnlPgLbtns
{
	text-align:right;
}

.DGSpecialRow
{
	background-color:#FEDC74;
	background-color:#FEEC94;
	background-color:#DCFEC4;
}

.Validator
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	color:Red;
}
.BizCubeMenuBG
{
	background-color:none;
	background-image: url(../../images/Sec/menuBGTile.gif);
	/*border:1px solid black;*/
	width:100%;
	height:45px;
	position:absolute;
	top:35px;
	left:0px;
	text-align:right;

}

/* Login Page Styles */
.LoginTextStyleA
{
	Font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#7A7A7A;

}
.BizCubeLoginTbl
{
	background: url(../../images/Sec/loginbg.jpg) no-repeat 50% 50%;
	-moz-box-sizing: border-box; /*BLESS MY TEN TOES!!! IT WORKS!!! */
}
#btnLogin
{
	font-weight:bold;
	color:#676767;
	height:25px;
	cursor:hand;
	cursor:pointer;
	background: url(../../images/Sec/bg2.jpg);
	width:100px;
}	
.LoginTitle
{
	display:none;
}
#txtPwd, #txtID
{
	border:solid 1px #ABABAB;
	width:150px;
	background-color:none;
}
.SecWarning
{
	color:lightslategray;
	width:100%;
	font-size:12px;
	text-align:left;
}

.FloatR
{
	/*float:right;*/
	position:absolute;
	z-index: 199;
	top:0;
	right:0;
	overflow:auto;
	width:50%;
}